### In this Jupyter Note Book <br>
We will read merged VCF file, remove the all unnecessary fields and keep only snp

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#df = pd.read_csv("Merged_vcf/merge_case.vcf", skiprows=84, sep="\t")

In [ ]:
# This is is For Case Only, in case of Control the col name is Different

new_columns = ['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       '1009', '875', '1584','1282','880',"989", "1489","873",'910', '1119',
        'MWB_110', 'MWB_161','MWB_174','MWB_242','MWB_276','MWB_437','MWB_490',
        'MWB_506','MWB_540','MWB_548','MWB_564','MWB_626','MWB_719','MWB_740',
        'MWB_746','MWB_815','MWB_870','MWB_1226','MWB_1276','MWB_1445']

In [ ]:
df.columns = new_columns
df.head()

In [ ]:
#df.to_csv("Merged_vcf/merge_case_okg.csv", index = False)

In [ ]:
#df = pd.read_csv("Merged_vcf/merge_control.vcf", skiprows=84, sep="\t")
#df.columns = new_columns # Column Name is Different in Control
#df.to_csv("Merged_vcf/merge_control_okg.csv", index = False)

### We will take Out SNP Only

In [ ]:
a = "1/1:81:48:9:0:6,3"
def split(x):
    "This Fuction recieved input like a\
    and split and return first SNP type"
    temp = x.split(":")[0]
    if temp in ["0/1", "1/1", "1/2"]:
        return temp
    else:
        return "0/0"

In [ ]:
skip = ['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL' ,'FILTER', 'INFO' ,'FORMAT']
for _ in df.columns:
    if _ in skip:
        continue
    df[_] = df[_].apply(lambda x : split(x))

In [ ]:
#df["1009_"] = df["1009"].apply(lambda x : split(x))

In [ ]:
df.tail()

## Data saved Next time can be done with Open_csv

In [ ]:
#df.to_csv("Merged_vcf/merge_case_snp.csv", index = False)

In [ ]:
df["1009"].unique()

## Repeat the same for Control

In [ ]:
column_name_control = ['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 
                       'INFO', 'FORMAT', '1093','1134','1293','1316','1389',
                       '1428','1477','1481','1557','1591','MWB_895','MWB_911',
                       'MWB_941','MWB_956','MWB_961','MWB_1151',"MWB_1008",
                       'MWB_1040','MWB_1244', 'MWB_1250','MWB_1443','MWB_1676',
                       'MWB_1960','MWB_1964','MWB_1975','MWB_1977','MWB_1982',
                       'MWB_1995','MWB_2007','MWB_2008']

In [ ]:
df.columns

In [ ]:
## Read Merged case VCf FIle created by okg

#df = pd.read_csv("Merged_vcf/merge_control.vcf", skiprows=84, sep="\t")
#df.columns = column_name_control

In [ ]:
skip = ['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL' ,'FILTER', 'INFO' ,'FORMAT']
for _ in df.columns:
    if _ in skip:
        continue
    df[_] = df[_].apply(lambda x : split(x))

In [ ]:
## Check data before write
df.head()

In [ ]:
#df.to_csv("Merged_vcf/merge_control_snp.csv", index = False)

# Data saved 
# Can be used with open

### Lets Open CSV File and add all as a single Columns

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Merged_vcf/merge_control_snp.csv", nrows=100)

In [ ]:
df.drop(["INFO", "FORMAT","FILTER"], axis=1, inplace= True)

In [ ]:
df.head()

In [ ]:
#df["total"] = df["1009"] +","+ df["875"]

In [ ]:
#df["total"].apply(lambda x : x.split(","))

### Merge All Columns as a single Columns 
Here We will open "Merged_vcf/merge_control_snp.csv" and make a single Column to check weather which which is maximum repeating

## Always Remember The column Name for case and Controls are differents

In [ ]:
import pandas as pd

In [ ]:
#df.drop(["total"], inplace=True, axis=1)
df = pd.read_csv("Merged_vcf/merge_case_snp.csv")
df.drop(['ID', "QUAL", "FILTER", "INFO", "FORMAT"], axis = 1, inplace = True)
# We did a mistake because these columns are no needed

In [ ]:
print(df.shape)
df.head(2)

In [ ]:
skip = ["1009", "Total","CHROM", "POS", "REF","ALT"]

# Assign 1009 for Total and drop Column 1009
df["Total"] = df["1009"] 
df.drop(["1009"], inplace = True, axis = 1)

#Remove so memory will be free
for _ in df.columns:
    if _ in skip:
        continue
    df["Total"] = df["Total"]+"," + df[str(_)]
    df.drop([_],inplace = True, axis = 1)

In [ ]:
print(df.shape)
df.head(2)

In [ ]:
len(df.Total[0].split(",")) # We can check all 30 elemnets are inside the table

In [ ]:
# For Fast Processing Lets save this file and call again when Neededd
#df.to_csv("Merged_vcf/merge_case_combine_30.csv", index = False)

### Merge Control file as a single File

### Loading "Merged_vcf/merge_case_combine_30.csv" is fast Processing

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Merged_vcf/merge_control_combine_30.csv")

In [ ]:
df.head(2)

In [ ]:
#### Now we will find out the maximum repeating in each Position except "0/0"

In [ ]:
def drop_n_max(x):
    "This Function will split and count SNP,\
    We will ignore snp '0/0' Because this is same like reference"
    
    from collections import Counter
    x_ = Counter(x.split(","))
    del x_["0/0"] 
    # This is Reference so we dont need
    # Although We can return maximum value only but we are returning all 
    # Because we can compare later
    return x_

In [ ]:
#drop_n_max(df.Total[0]) # Testing

In [ ]:
# Function Testing
#a = df.Total[0]   
#_ = Counter(a.split(","))
#del _["0/0"]
#_.most_common()[0]

In [ ]:
df["Repeated_"] = df.Total.apply(lambda x : drop_n_max(x))

In [ ]:
display(df.tail(2))
#df.drop(["Total"],inplace = True, axis = 1)
print("After")
df.tail(2)

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
#df.loc[700:1000,:]

In [ ]:
df = df[df["Repeated_"].str.len() >0]

In [ ]:
df.head()

In [ ]:
df["MAX_control"] = df.Repeated_.apply(lambda x : x.most_common(1)[0][1])
#df[df[(type(df["MAX"]) != list).index()]]
df.head()

In [ ]:
df[df.MAX_control >28].tail()

In [ ]:
df.head()

In [ ]:
# Lets Save this as a Final File

In [ ]:
#df.to_csv("Merged_vcf/merged_case_with_maximum_vcf_og_pass.csv", index = False)

In [ ]:
df.to_csv("Merged_vcf/merged_control_with_maximum_vcf_og_pass.csv", index = False)

### When Needed You can load this File

In [ ]:
import pandas as pd

In [ ]:
df_case = pd.read_csv("Merged_vcf/merged_case_with_maximum_vcf_og_pass.csv")
df_control = pd.read_csv("Merged_vcf/merged_control_with_maximum_vcf_og_pass.csv")

In [ ]:
df_case.head()

In [ ]:
df_case.columns

In [ ]:
df_case = df_case.loc[:,['CHROM', 'POS', 'REF', 'ALT', 'Repeated_', 'MAX']]
df_case.columns = ['CHROM', 'POS', 'REF', 'ALT', 'Repeated_Case', 'MAX_Case']

In [ ]:
df_case.head()

In [ ]:
df_control.head()

In [ ]:
df_control.columns

In [ ]:
df_control = df_control.loc[:,['CHROM', 'POS', 'REF', 'ALT', 'Repeated_', 'MAX_control']]

In [ ]:
df_control.head()

In [ ]:
df_control.columns = ['CHROM', 'POS', 'REF', 'ALT', 'Repeated_Control', 'MAX_Control']

### Lets Merge 2 Table as a single Table

In [ ]:
#merged = pd.merge(df_case,df_control, on = ['CHROM', 'POS', 'REF', 'ALT'], how = "outer")
#merged.to_csv("Merged_vcf/Final_mergedf_case_con_vcf_og_pass.csv", index = False)

### Compare the data

In [ ]:
import pandas as pd
df = pd.read_csv("Merged_vcf/Final_mergedf_case_con_vcf_og_pass.csv", low_meory = False)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
# Since Case and Control dtype is Float64, It can compare now
test = df[(df.MAX_Case>20) & (df.MAX_Control<15)]

In [ ]:
test.to_csv("Merged_vcf/merged_case_gt_20_cont_lt_15.csv", index = False)

### For Fast Processing and Checking lets open test File

In [1]:
import pandas as pd
df = pd.read_csv("Merged_vcf/merged_case_gt_20_cont_lt_15.csv")

In [3]:
df.head()

,CHROM,POS,REF,ALT,Repeated_Case,MAX_Case,Repeated_Control,MAX_Control
0,chr1,101550,C,T,Counter({'0/1': 21}),21.0,Counter({'0/1': 11}),11.0
1,chr1,905130,ATG,A,"Counter({'0/1': 21, '1/1': 5})",21.0,"Counter({'1/1': 14, '0/1': 12})",14.0
2,chr1,1017029,C,G,Counter({'1/1': 21}),21.0,Counter({'1/1': 14}),14.0
3,chr1,1226102,G,A,"Counter({'0/1': 21, '1/1': 6})",21.0,"Counter({'0/1': 14, '1/1': 7})",14.0
4,chr1,1311078,G,T,"Counter({'1/1': 23, '0/1': 6})",23.0,"Counter({'0/1': 14, '1/1': 14})",14.0

In [7]:
df[(df["MAX_Case"]>20) & (df["MAX_Control"]<15)]

,CHROM,POS,REF,ALT,Repeated_Case,MAX_Case,Repeated_Control,MAX_Control
0,chr1,101550,C,T,Counter({'0/1': 21}),21.0,Counter({'0/1': 11}),11.0
1,chr1,905130,ATG,A,"Counter({'0/1': 21, '1/1': 5})",21.0,"Counter({'1/1': 14, '0/1': 12})",14.0
2,chr1,1017029,C,G,Counter({'1/1': 21}),21.0,Counter({'1/1': 14}),14.0
3,chr1,1226102,G,A,"Counter({'0/1': 21, '1/1': 6})",21.0,"Counter({'0/1': 14, '1/1': 7})",14.0
4,chr1,1311078,G,T,"Counter({'1/1': 23, '0/1': 6})",23.0,"Counter({'0/1': 14, '1/1': 14})",14.0
...,...,...,...,...,...,...,...,...
15591,chrX,151613987,T,A,"Counter({'0/1': 21, '1/1': 5})",21.0,"Counter({'1/1': 10, '0/1': 10})",10.0
15592,chrX,151619708,T,G,"Counter({'0/1': 21, '1/1': 3})",21.0,"Counter({'0/1': 13, '1/1': 7})",13.0
15593,chrX,152089039,G,A,"Counter({'0/1': 22, '1/1': 4})",22.0,"Counter({'1/1': 13, '0/1': 13})",13.0
15594,chrX,152090551,T,C,"Counter({'0/1': 22, '1/1': 4})",22.0,"Counter({'1/1': 12, '0/1': 12})",12.0
15595,chrX,153177384,A,"AG,AAG","Counter({'0/1': 23, '1/2': 4, '1/1': 1})",23.0,Counter({'1/2': 1}),1.0