In [8]:
import pandas as pd  
import os

In [2]:
#filename = "1282"

In [12]:

#!ls /BiO/Preterm/raw_data/

In [49]:
file_list = os.listdir("/BiO/Preterm/raw_data/")

In [17]:
#df= pd.read_csv("/BiO/Preterm/raw_data/"+filename+"/"+filename+".snpeff.isoform.tsv",sep="\t")

In [48]:
cols_to_drop = ['ANN[*].EFFECT', 'ANN[*].IMPACT',
       'ANN[*].GENE', 'ANN[*].FEATURE', 'ANN[*].FEATUREID', 'ANN[*].BIOTYPE',
       'ANN[*].RANK', 'ANN[*].HGVS_C', 'ANN[*].HGVS_P', 'ANN[*].CDNA_POS',
       'ANN[*].CDNA_LEN', 'ANN[*].CDS_POS', 'ANN[*].CDS_LEN', 'ANN[*].AA_POS',
       'ANN[*].AA_LEN', 'ANN[*].DISTANCE', 'GWASCAT_TRAIT', 'COSMID',
       'CLNDISDB', 'ORIGIN', 'CLNSIG', 'CLNDN', 'dbNSFP_Uniprot_acc',
       'dbNSFP_Interpro_domain', 'dbNSFP_SIFT_pred',
       'dbNSFP_Polyphen2_HDIV_pred', 'dbNSFP_Polyphen2_HVAR_pred',
       'dbNSFP_LRT_pred', 'dbNSFP_MutationTaster_pred', 'dbNSFP_GERP___NR',
       'dbNSFP_GERP___RS', 'dbNSFP_phastCons100way_vertebrate',
       'dbNSFP_1000Gp1_AF', 'dbNSFP_1000Gp1_AFR_AF', 'dbNSFP_1000Gp1_EUR_AF',
       'dbNSFP_1000Gp1_AMR_AF', 'dbNSFP_1000Gp1_ASN_AF',
       'dbNSFP_ESP6500_AA_AF', 'dbNSFP_ESP6500_EA_AF', 'EXAC_AC', 'EXAC_AN',
       'EXAC_AF']

### Running 20 file in single Code

In [64]:
"""for filename in file_list:
    
    print("Opening the file--> \t " +filename,end="")
    df= pd.read_csv("/BiO/Preterm/raw_data/"+filename+"/"+filename+".snpeff.isoform.tsv",sep="\t")
    print("File opened Successfully",end ="")
    df  = df.drop(cols_to_drop,axis=1)   #to remove Unnecessary Columns
    #Below filter is Our excel Filter 
    df_new=df[(df["#CHROM"]=="chrX") & (df["ID"]=="rsrs73458627") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs10044640") | 
          (df["#CHROM"]=="chr1") & (df["ID"]=="rs6593543") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs73796691") | 
          (df["#CHROM"]=="chr10") & (df["ID"]=="rs112778647") | (df["#CHROM"]=="chr1") & (df["ID"]=="rs17111092") | 
          
          (df["#CHROM"]=="chr8") & (df["ID"]=="rs58440959") | (df["#CHROM"]=="chr8") & (df["ID"]=="rs115115739") |
          (df["#CHROM"]=="chr13") & (df["ID"]=="rs117731991") | 
          (df["#CHROM"]=="chr4") & (df["ID"]=="rs74880760") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs76672225") | 
          (df["#CHROM"]=="chr13") & (df["ID"]=="rs885038") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs75717676") | 
          (df["#CHROM"]=="chr18") & (df["ID"]=="rs73374193") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs74875498")]
    print("Filteered Success ful" + filename)
    df_new.to_csv(r"../analysis_2/"+filename+".csv",index=None,header =True)
    print("File saved Successfully"+filename)
    print("\n")
print("Complete")
    """

'for filename in file_list:\n    \n    print("Opening the file--> \t " +filename,end="")\n    df= pd.read_csv("/BiO/Preterm/raw_data/"+filename+"/"+filename+".snpeff.isoform.tsv",sep="\t")\n    print("File opened Successfully",end ="")\n    df  = df.drop(cols_to_drop,axis=1)   #to remove Unnecessary Columns\n    #Below filter is Our excel Filter \n    df_new=df[(df["#CHROM"]=="chrX") & (df["ID"]=="rsrs73458627") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs10044640") | \n          (df["#CHROM"]=="chr1") & (df["ID"]=="rs6593543") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs73796691") | \n          (df["#CHROM"]=="chr10") & (df["ID"]=="rs112778647") | (df["#CHROM"]=="chr1") & (df["ID"]=="rs17111092") | \n          \n          (df["#CHROM"]=="chr8") & (df["ID"]=="rs58440959") | (df["#CHROM"]=="chr8") & (df["ID"]=="rs115115739") |\n          (df["#CHROM"]=="chr13") & (df["ID"]=="rs117731991") | \n          (df["#CHROM"]=="chr4") & (df["ID"]=="rs74880760") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs76672225") | \n          (df["#CHROM"]=="chr13") & (df["ID"]=="rs885038") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs75717676") | \n          (df["#CHROM"]=="chr18") & (df["ID"]=="rs73374193") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs74875498")]\n    print("Filteered Success ful" + filename)\n    df_new.to_csv(r"../analysis_2/"+filename+".csv",index=None,header =True)\n    print("File saved Successfully"+filename)\n    print("\n")\nprint("Complete")\n    '

# testing

In [112]:
filename = "1481"

In [113]:
df= pd.read_csv("/BiO/Preterm/raw_data/"+filename+"/"+filename+".snpeff.isoform.tsv",sep="\t")

In [100]:
df  = df.drop(cols_to_drop,axis=1)

In [101]:
df.head(2)

,#CHROM,POS,ID,REF,ALT,FILTER,VARTYPE,GEN['TN1911D0119'].GT,GEN['TN1911D0119'].AD,GEN['TN1911D0119'].DP
0,chr1,12783,rs62635284,G,A,PASS,SNP,0/1,"5,10",15
1,chr1,12783,rs62635284,G,A,PASS,SNP,0/1,"5,10",15

In [53]:
#df["#CHROM"].unique()

In [102]:
df["#CHROM"].unique()

array(['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8',
       'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15',
       'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22',
       'chrX', 'chrY', 'chrM'], dtype=object)

In [103]:
df[(df["#CHROM"]=="chrX") & (df["ID"]=="rs73458627") ]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0119'].GT, GEN['TN1911D0119'].AD, GEN['TN1911D0119'].DP]
Index: []

In [104]:
df[(df["#CHROM"]=="chr5") & (df["ID"]=="rs10044640")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0119'].GT, GEN['TN1911D0119'].AD, GEN['TN1911D0119'].DP]
Index: []

In [110]:
df[(df["#CHROM"]=="chr1") & (df["ID"]=="rs6593543")]

,#CHROM,POS,ID,REF,ALT,FILTER,VARTYPE,GEN['TN1911D0119'].GT,GEN['TN1911D0119'].AD,GEN['TN1911D0119'].DP
120794,chr1,76968598,rs6593543,C,T,PASS,SNP,1/1,"0,32",32

In [107]:
df[(df["#CHROM"]=="chr5") & (df["ID"]=="rs73796691")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0119'].GT, GEN['TN1911D0119'].AD, GEN['TN1911D0119'].DP]
Index: []

In [108]:
df[(df["#CHROM"]=="chr10") & (df["ID"]=="rs112778647")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0119'].GT, GEN['TN1911D0119'].AD, GEN['TN1911D0119'].DP]
Index: []

In [111]:
df[(df["#CHROM"]=="chr1") & (df["ID"]=="rs17111092")]

,#CHROM,POS,ID,REF,ALT,FILTER,VARTYPE,GEN['TN1911D0119'].GT,GEN['TN1911D0119'].AD,GEN['TN1911D0119'].DP
87979,chr1,55304723,rs17111092,C,T,PASS,SNP,0/1,"19,21",40

In [88]:
df[(df["#CHROM"]=="chr8") & (df["ID"]=="rs58440959")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [89]:
df[(df["#CHROM"]=="chr8") & (df["ID"]=="rs115115739")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [90]:
df[(df["#CHROM"]=="chr13") & (df["ID"]=="rs117731991")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [91]:
df[(df["#CHROM"]=="chr4") & (df["ID"]=="rs74880760")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [92]:
df[(df["#CHROM"]=="chr4") & (df["ID"]=="rs76672225")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [93]:
df[(df["#CHROM"]=="chr13") & (df["ID"]=="rs117731991")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [95]:
df[(df["#CHROM"]=="chr5") & (df["ID"]=="rs74880760")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [96]:
df[(df["#CHROM"]=="chr18") & (df["ID"]=="rs73374193")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [97]:
df[(df["#CHROM"]=="chr4") & (df["ID"]=="rs74875498")]

Empty DataFrame
Columns: [#CHROM, POS, ID, REF, ALT, FILTER, VARTYPE, GEN['TN1911D0109'].GT, GEN['TN1911D0109'].AD, GEN['TN1911D0109'].DP]
Index: []

In [74]:
df_new=df[(df["#CHROM"]=="chrX") & (df["ID"]=="rs73458627") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs10044640") | 
          (df["#CHROM"]=="chr1") & (df["ID"]=="rs6593543") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs73796691") | 
          (df["#CHROM"]=="chr10") & (df["ID"]=="rs112778647") | (df["#CHROM"]=="chr1") & (df["ID"]=="rs17111092") | 
          
          (df["#CHROM"]=="chr8") & (df["ID"]=="rs58440959") | (df["#CHROM"]=="chr8") & (df["ID"]=="rs115115739") |
          (df["#CHROM"]=="chr13") & (df["ID"]=="rs117731991") | 
          (df["#CHROM"]=="chr4") & (df["ID"]=="rs74880760") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs76672225") | 
          (df["#CHROM"]=="chr13") & (df["ID"]=="rs885038") | (df["#CHROM"]=="chr5") & (df["ID"]=="rs75717676") | 
          (df["#CHROM"]=="chr18") & (df["ID"]=="rs73374193") | (df["#CHROM"]=="chr4") & (df["ID"]=="rs74875498")]

In [43]:
#df_new

,#CHROM,POS,ID,REF,ALT,FILTER,VARTYPE,GEN['TN1911D0108'].GT,GEN['TN1911D0108'].AD,GEN['TN1911D0108'].DP
118731,chr1,76968598,rs6593543,C,T,PASS,SNP,1/1,"0,30",30

In [45]:

#df_new.to_csv(r"../analysis_2/"+filename+".csv",index=None,header =True)

In [54]:
#!ls ..