In [139]:
import pandas as pd
import numpy as np

In [140]:
df1 = pd.read_csv("../case_con_mer.csv")

In [141]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
0,chrM,146,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [142]:
df1.shape

(11176568, 24)

### Checking weather NAN values exists in case and not in Control and Vise -versa
## In this case we use 100 % means SNPs are according to reference in case and not in control and vice-versha

In [143]:
#df1 = df1[df1.isnull().sum(axis=1)<17]
case_con = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)<1)
    &(df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)>9)] #We Can accept up to  80 %

#case NAN more and Control NAN is Less
con_case = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)>9) \
    &(df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)<1)]
#case_on_con means nan value in more than 9 (10) in control but all SNP in case
#con_on_case means all SNP value exists in Control but not in case

In [144]:
#case_con.shape

In [145]:
#con_case.shape

In [146]:
#case_con.head()

In [147]:
#con_case.head()

In [148]:
#case_con.to_csv("../case8_con0.csv",index=False)

In [149]:
#lilst = df1.ID

In [150]:
#case_con.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13]].tail(20)

In [151]:
df1[df1.ID == a]

NameError: name 'a' is not defined

In [ ]:
#test = pd.read_csv("../direct.hg19_multianno.txt.intervar",sep="\t")

In [ ]:
#test.head()

In [ ]:
#test["Ref.Gene"]
#pd.options.display.max_columns = None

###  2. Method 
#### We remove sum of nan more than 15 in all row wise 
15/20

In [152]:
df1 =df1[df1.isna().sum(axis=1)<12]
df1.shape

(4246244, 24)

In [153]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
5,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
14,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
15,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,...,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
17,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [30]:
#t[t.isna().sum(axis =1)<12]

In [154]:
#df1[(df1["1c"].isin(df1["1cn"])) & (df1["2c"].isin(df1["2cn"]))]
df_eq = df1[(df1["1c"]==df1["1cn"])&(df1["2c"]==df1["2cn"])&(df1["3c"]==df1["3cn"])&(df1["4c"]==df1["4cn"])\
        &(df1["5c"]==df1["5cn"])&(df1["6c"]==df1["6cn"])&(df1["7c"]==df1["7cn"])&(df1["8c"]==df1["8cn"])\
        &(df1["9c"]==df1["9cn"])&(df1["10c"]==df1["10cn"])]

df_noeq = df1[~((df1["1c"]==df1["1cn"])&(df1["2c"]==df1["2cn"])&(df1["3c"]==df1["3cn"])&(df1["4c"]==df1["4cn"])\
        &(df1["5c"]==df1["5cn"])&(df1["6c"]==df1["6cn"])&(df1["7c"]==df1["7cn"])&(df1["8c"]==df1["8cn"])\
        &(df1["9c"]==df1["9cn"])&(df1["10c"]==df1["10cn"]))]

In [155]:
df_eq.shape , df_noeq.shape

((412017, 24), (3834227, 24))

In [156]:
(df_eq.shape[0] + df_noeq.shape[0]) ==df1.shape[0]

True

In [157]:
#Since all rows having Same values no need to Compare so lets Avoid same data
#df_eq.head()
df1 = df_noeq

In [158]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
5,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
14,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
15,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,...,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
25,chr17,828,rs62053745,T,C/C,C/C,C/C,C/C,T/C,C/C,...,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C

In [159]:
df1 = df1.drop_duplicates(keep=False) #drop duplicates

In [160]:
df1.shape

(3789666, 24)

In [161]:
df1 = df1.dropna()
df1.shape
#Remove all NaN values

(459779, 24)

In [63]:
#df1[df1.ID =="rs2963463"]

In [162]:
df1["case"]=df1["1c"]+"," +df1["2c"] +"," + df1["3c"]+"," +df1["4c"]+","  +df1["5c"]+"," +df1["6c"]+","+ df1["7c"]+"," +df1["8c"]+"," + df1["9c"]+"," +df1["10c"]
df1["Control"]=df1["1cn"]+"," +df1["2cn"] +"," + df1["3cn"]+","+df1["4cn"]+"," +df1["5cn"]+","+df1["6cn"]+"," + df1["7cn"]+"," +df1["8cn"]+","+ df1["9cn"]+"," +df1["10cn"]

In [163]:
df1 =df1.iloc[:,[0,1,2,3,24,25]]

In [164]:
df1.head()

,CHROM,POS,ID,REF,case,Control
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T..."
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T"
36,chr17,2041,rs35054424,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A"

In [195]:
#df1["Count"] = df1["case","Control"]
#import statistics
from collections import Counter
#rep = statistics.mode(list(df1.iloc[1,[4,5]][0].split(",")))
(Counter((list(df1.iloc[0,[4]][0].split(","))))).most_common(1)#[0][1]

[('TA/TA', 9)]

In [285]:
#df1["case_max"] = df1["case"].apply(lambda x :(Counter((list(x.split(","))))).most_common(1))
df1["control_max"] = df1["Control"].apply(lambda x:(Counter(x.split(","))).most_common(1))
df1.head()

,CHROM,POS,ID,REF,case,Control,case_max,control_max
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","[(TA/TA, 9)]","[(TA/TA, 10)]"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","[(C/C, 9)]","[(C/C, 10)]"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","[(A/A, 9)]","[(A/A, 10)]"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","[(T/T, 9)]","[(T/T, 10)]"
36,chr17,2041,rs35054424,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","[(A/A, 9)]","[(A/A, 10)]"

In [295]:
l = [("TA/TA", 9)]
l[0]

('TA/TA', 9)

In [302]:
#df1["case_r"]= df1["case_max"].apply(lambda x : x[0])
df1 =df1.drop("case_max",axis=1)
#df1["con_r"]= df1["control_max"].apply(lambda x : x[0])
df1 = df1.drop("control_max",axis =1)
df1.head()

,CHROM,POS,ID,REF,case,Control,case_r,con_r
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","(TA/TA, 9)","(TA/TA, 10)"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","(C/C, 9)","(C/C, 10)"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","(A/A, 9)","(A/A, 10)"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","(T/T, 9)","(T/T, 10)"
36,chr17,2041,rs35054424,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","(A/A, 9)","(A/A, 10)"

In [317]:
df1["case_con"] = df1["case_r"]+df1["con_r"]

In [327]:
df1 = df1.iloc[:,[0,1,2,3,8]]

          CHROM        POS                    ID REF               case_con
15        chr17        302            rs35998167   T  (TA/TA, 9, TA/TA, 10)
25        chr17        828            rs62053745   T      (C/C, 9, C/C, 10)
26        chr17        834             rs9747082   G      (A/A, 9, A/A, 10)
35        chr17       1869            rs62053748   A      (T/T, 9, T/T, 10)
36        chr17       2041            rs35054424   G      (A/A, 9, A/A, 10)
...         ...        ...                   ...  ..                    ...
11176073   chr1  249084373            rs12726124   A       (A/T, 5, A/T, 7)
11176204   chr1  249128317             rs6587757   A       (T/T, 9, T/T, 9)
11176259   chr1  249155909             rs4926499   G       (C/C, 9, C/C, 9)
11176353   chr1  249182887  rs6697193;rs78930746   T       (C/C, 5, C/C, 8)
11176382   chr1  249191706             rs4335411   G       (A/A, 5, A/A, 8)

[459779 rows x 5 columns]

In [272]:

#df1[(list(df1.iloc[:,6])[0][0][0]==list(df1.iloc[:,7])[0][0][0]) & ((list(df1.iloc[:,6])[0][0][1]>2)&list(df1.iloc[:,7])[0][0][1]>3)]

#case_max first is same and both repeating is greater than 2 (No need to Compare upto 80 % same data)
# all rows and col6 for case _ max and Column 7 for Column Max and also [0][0] is for SNP and [0][1] is for Number Repeting\
#list(df1.iloc[:,6])[0][0][1]

In [273]:
df1.head(2)
df1['Result'] = np.where((df1['case_max'] >= df['two']) & (df['one'] <= df['three'])
                     , df['one'], np.nan)

,CHROM,POS,ID,REF,case,Control,case_max,control_max
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","[(TA/TA, 9)]","[(TA/TA, 10)]"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","[(C/C, 9)]","[(C/C, 10)]"

In [281]:
#list(test["case_max"])[0][0][0] == list(test["control_max"])[0][0][0]
#df1.case_max[0][0][1]
df1.iloc[:,6]

KeyError: 0

In [271]:
df1.head()

,CHROM,POS,ID,REF,case,Control,case_max,control_max
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","[(TA/TA, 9)]","[(TA/TA, 10)]"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","[(C/C, 9)]","[(C/C, 10)]"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","[(A/A, 9)]","[(A/A, 10)]"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","[(T/T, 9)]","[(T/T, 10)]"
36,chr17,2041,rs35054424,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","[(A/A, 9)]","[(A/A, 10)]"

In [43]:
#df1.isnull().sum(axis=1)
#test1 = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)<3) & (df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)<3)]
#df1[df1["POS"]==157895049]

In [224]:
#len(test1["1c"].unique())
test1.shape

(1927371, 24)

In [116]:
#t1 = df1[((df1["1c"].isin(df1["1cn"]))&(df1["2c"].isin(df1["2cn"]))&(df1["3c"].isin(df1["3cn"]))&(df1["4c"].isin(df1["4cn"]))&\
#    (df1["5c"].isin(df1["5cn"]))&(df1["6c"].isin(df1["6cn"]))&(df1["7c"].isin(df1["7cn"]))&(df1["8c"].isin(df1["8cn"]))&(df1["9c"].isin(df1["9cn"]))&(df1["10c"].isin(df1["10cn"])))]

#t2 = df1[~((df1["1c"].isin(df1["1cn"]))&(df1["2c"].isin(df1["2cn"]))&(df1["3c"].isin(df1["3cn"]))&(df1["4c"].isin(df1["4cn"]))&\
#    (df1["5c"].isin(df1["5cn"]))&(df1["6c"].isin(df1["6cn"]))&(df1["7c"].isin(df1["7cn"]))&(df1["8c"].isin(df1["8cn"]))&(df1["9c"].isin(df1["9cn"]))&(df1["10c"].isin(df1["10cn"])))]

In [229]:
test3.shape

(1515354, 24)

In [233]:
atleast_1diff = test1[(test1["1c"] != test1['1cn'])&(test1["2c"] != test1['2cn'])&(test1["3c"] != test1['3cn'])&(test1["4c"] != test1['4cn'])\
     &(test1["4c"] != test1['4cn'])&(test1["5c"] != test1['5cn'])&(test1["6c"] != test1['6cn'])&(test1["7c"] != test1['7cn'])\
      &(test1["8c"] != test1['8cn'])&(test1["9c"] != test1['9cn'])&(test1["10c"] != test1['10cn'])]

In [237]:
atleast_1diff = atleast_1diff.reset_index()

In [243]:
#atleast_1diff[atleast_1diff.POS ==157895049 ]

Empty DataFrame
Columns: [index, CHROM, POS, ID, REF, 1c, 2c, 3c, 4c, 5c, 6c, 7c, 8c, 9c, 10c, 1cn, 2cn, 3cn, 4cn, 5cn, 6cn, 7cn, 8cn, 9cn, 10cn]
Index: []

[0 rows x 25 columns]

In [281]:
test1 = atleast_1diff #Dont do this
#rename below fiel as atleast_1diff

In [287]:
case = (test1["1c"] == test1['2c'])&(test1["2c"] == test1['3c'])&(test1["3c"] == test1['4c'])&(test1["4c"] == test1['5c'])\
     &(test1["5c"] == test1['6c'])&(test1["6c"] == test1['7c'])&(test1["7c"] == test1['8c'])&(test1["8c"] == test1['8c'])\
      &(test1["8c"] == test1['9c'])&(test1["9c"] == test1['10c'])

In [288]:
control = (test1["1cn"] == test1['2cn'])&(test1["2cn"] == test1['3cn'])&(test1["3cn"] == test1['4cn'])&(test1["4cn"] == test1['5cn'])\
     &(test1["5cn"] == test1['6cn'])&(test1["6cn"] == test1['7c'])&(test1["7cn"] == test1['8cn'])&(test1["8cn"] == test1['8cn'])\
      &(test1["8cn"] == test1['9cn'])&(test1["9cn"] == test1['10cn'])

In [49]:
#atleast_1diff[both]

5           False
15          False
17           True
25          False
26          False
            ...
11176353    False
11176382    False
11176433    False
11176435    False
11176449     True
Length: 1927371, dtype: bool

In [276]:
case

5           False
15          False
17           True
25          False
26          False
            ...
11176353    False
11176382    False
11176433     True
11176435     True
11176449     True
Length: 1927371, dtype: bool

In [277]:
control

5           False
15           True
17           True
25           True
26           True
            ...
11176353    False
11176382    False
11176433    False
11176435    False
11176449     True
Length: 1927371, dtype: bool

In [271]:
atleast_1diff[case]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [119]:
#t2.iloc[0,:]

In [120]:
#t1.iloc[5000,4:]

In [84]:
#case = t2.loc[:,['CHROM', 'POS', 'ID', 'REF', '1c', '2c', '3c', '4c', '5c', '6c', '7c','8c', '9c', '10c']]

In [85]:
#case.head()

In [86]:
#control = t2.loc[:,['CHROM', 'POS', 'ID', 'REF','1cn', '2cn', '3cn', '4cn', '5cn', '6cn', '7cn','8cn', '9cn', '10cn']]

In [87]:
#case.shape ==control.shape

In [89]:
#col = ['CHROM', 'POS', 'ID', 'REF', '1', '2', '3', '4', '5', '6', '7',
#       '8', '9', '10']

In [90]:
#case.columns = col
#control.columnsl = col

In [121]:
#case.head()

In [122]:
#control.head()

In [123]:
#case

In [124]:
#control[control.POS == 157895049]