In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("../case_con_mer.csv")

In [3]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
0,chrM,146,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [4]:
df1.shape

(11176568, 24)

In [10]:
#list(df1.columns.values)

In [5]:
#df1.iloc[:,1:5].sum()
test = df1.head(100)

In [7]:
test.columns

Index(['CHROM', 'POS', 'ID', 'REF', '1c', '2c', '3c', '4c', '5c', '6c', '7c',
       '8c', '9c', '10c', '1cn', '2cn', '3cn', '4cn', '5cn', '6cn', '7cn',
       '8cn', '9cn', '10cn'],
      dtype='object')

In [15]:
test.loc[(test["CHROM"]=="chrM")&(test["4c"]=="T/T")]

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
5,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
17,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
40,chrM,2354,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
41,chrM,2485,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
91,chrM,5581,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

### Checking weather NAN values exists in case and not in Control and Vise -versa
## In this case we use 100 % means SNPs are according to reference in case and not in control and vice-versha

In [5]:
#df1 = df1[df1.isnull().sum(axis=1)<17]
case_con = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)<1)
    &(df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)>9)] #We Can accept up to  80 %

#case NAN more and Control NAN is Less
con_case = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)>9) \
    &(df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)<1)]
#case_on_con means nan value in more than 9 (10) in control but all SNP in case
#con_on_case means all SNP value exists in Control but not in case

In [6]:
case_con.shape

(2, 24)

In [145]:
#con_case.shape

In [146]:
#case_con.head()

In [147]:
#con_case.head()

In [148]:
#case_con.to_csv("../case8_con0.csv",index=False)

In [149]:
#lilst = df1.ID

In [150]:
#case_con.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13]].tail(20)

In [151]:
df1[df1.ID == a]

NameError: name 'a' is not defined

In [ ]:
#test = pd.read_csv("../direct.hg19_multianno.txt.intervar",sep="\t")

In [ ]:
#test.head()

In [ ]:
#test["Ref.Gene"]
#pd.options.display.max_columns = None

###  2. Method 
#### We remove sum of nan more than 15 in all row wise 
15/20

In [7]:
df1 =df1[df1.isna().sum(axis=1)<12]
df1.shape

(4246244, 24)

In [153]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
5,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
14,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
15,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,...,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
17,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [30]:
#t[t.isna().sum(axis =1)<12]

In [8]:
#df1[(df1["1c"].isin(df1["1cn"])) & (df1["2c"].isin(df1["2cn"]))]
df_eq = df1[(df1["1c"]==df1["1cn"])&(df1["2c"]==df1["2cn"])&(df1["3c"]==df1["3cn"])&(df1["4c"]==df1["4cn"])\
        &(df1["5c"]==df1["5cn"])&(df1["6c"]==df1["6cn"])&(df1["7c"]==df1["7cn"])&(df1["8c"]==df1["8cn"])\
        &(df1["9c"]==df1["9cn"])&(df1["10c"]==df1["10cn"])]

df_noeq = df1[~((df1["1c"]==df1["1cn"])&(df1["2c"]==df1["2cn"])&(df1["3c"]==df1["3cn"])&(df1["4c"]==df1["4cn"])\
        &(df1["5c"]==df1["5cn"])&(df1["6c"]==df1["6cn"])&(df1["7c"]==df1["7cn"])&(df1["8c"]==df1["8cn"])\
        &(df1["9c"]==df1["9cn"])&(df1["10c"]==df1["10cn"]))]

In [9]:
df_eq.shape , df_noeq.shape

((412017, 24), (3834227, 24))

In [156]:
(df_eq.shape[0] + df_noeq.shape[0]) ==df1.shape[0]

True

In [157]:
#Since all rows having Same values no need to Compare so lets Avoid same data
#df_eq.head()
df1 = df_noeq

In [158]:
df1.head()

,CHROM,POS,ID,REF,1c,2c,3c,4c,5c,6c,...,1cn,2cn,3cn,4cn,5cn,6cn,7cn,8cn,9cn,10cn
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
5,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
14,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
15,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,...,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
25,chr17,828,rs62053745,T,C/C,C/C,C/C,C/C,T/C,C/C,...,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C

In [10]:
df1 = df1.drop_duplicates(keep="first") #drop duplicates

In [11]:
df1.shape

(4191653, 24)

In [12]:
df1 = df1.dropna()
df1.shape
#Remove all NaN values

(861766, 24)

In [63]:
#df1[df1.ID =="rs2963463"]

In [13]:
df1["case"]=df1["1c"]+"," +df1["2c"] +"," + df1["3c"]+"," +df1["4c"]+","  +df1["5c"]+"," +df1["6c"]+","+ df1["7c"]+"," +df1["8c"]+"," + df1["9c"]+"," +df1["10c"]
df1["Control"]=df1["1cn"]+"," +df1["2cn"] +"," + df1["3cn"]+","+df1["4cn"]+"," +df1["5cn"]+","+df1["6cn"]+"," + df1["7cn"]+"," +df1["8cn"]+","+ df1["9cn"]+"," +df1["10cn"]

In [14]:
df1 =df1.iloc[:,[0,1,2,3,24,25]]

In [164]:
df1.head()

,CHROM,POS,ID,REF,case,Control
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T..."
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T"
36,chr17,2041,rs35054424,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A"

In [16]:
#df1["Count"] = df1["case","Control"]
#import statistics
from collections import Counter
#rep = statistics.mode(list(df1.iloc[1,[4,5]][0].split(",")))
#(Counter((list(df1.iloc[0,[4]][0].split(","))))).most_common(1)#[0][1]

In [18]:
df1["case_max"] = df1["case"].apply(lambda x :(Counter((list(x.split(","))))).most_common(1))
df1["control_max"] = df1["Control"].apply(lambda x:(Counter(x.split(","))).most_common(1))
df1.head()

,CHROM,POS,ID,REF,case,Control,control_max,case_max
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","[(TA/TA, 10)]","[(TA/TA, 9)]"
17,chrM,410,.,A,"T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","[(T/T, 10)]","[(T/T, 10)]"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","[(C/C, 10)]","[(C/C, 9)]"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","[(A/A, 10)]","[(A/A, 9)]"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","[(T/T, 10)]","[(T/T, 9)]"

In [295]:
l = [("TA/TA", 9)]
l[0]

('TA/TA', 9)

In [19]:
df1["case_r"]= df1["case_max"].apply(lambda x : x[0])
df1 =df1.drop("case_max",axis=1)
df1["con_r"]= df1["control_max"].apply(lambda x : x[0])
df1 = df1.drop("control_max",axis =1)
df1.head()

,CHROM,POS,ID,REF,case,Control,case_r,con_r
15,chr17,302,rs35998167,T,"TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA...","TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/T...","(TA/TA, 9)","(TA/TA, 10)"
17,chrM,410,.,A,"T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","(T/T, 10)","(T/T, 10)"
25,chr17,828,rs62053745,T,"C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C","C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C","(C/C, 9)","(C/C, 10)"
26,chr17,834,rs9747082,G,"A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A","A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A","(A/A, 9)","(A/A, 10)"
35,chr17,1869,rs62053748,A,"T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T","T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T","(T/T, 9)","(T/T, 10)"

In [20]:
df1["case_con"] = df1["case_r"]+df1["con_r"]

In [21]:
df1 = df1.iloc[:,[0,1,2,3,8]]

In [23]:
df1.to_csv("../case_con_count.csv",index = False)

In [40]:
df1.head()

    CHROM   POS          ID REF               case_con
15  chr17   302  rs35998167   T  (TA/TA, 9, TA/TA, 10)
17   chrM   410           .   A     (T/T, 10, T/T, 10)
25  chr17   828  rs62053745   T      (C/C, 9, C/C, 10)
26  chr17   834   rs9747082   G      (A/A, 9, A/A, 10)
35  chr17  1869  rs62053748   A      (T/T, 9, T/T, 10)

In [272]:

#df1[(list(df1.iloc[:,6])[0][0][0]==list(df1.iloc[:,7])[0][0][0]) & ((list(df1.iloc[:,6])[0][0][1]>2)&list(df1.iloc[:,7])[0][0][1]>3)]

#case_max first is same and both repeating is greater than 2 (No need to Compare upto 80 % same data)
# all rows and col6 for case _ max and Column 7 for Column Max and also [0][0] is for SNP and [0][1] is for Number Repeting\
#list(df1.iloc[:,6])[0][0][1]

In [41]:
l=("TA/TA", 9, "TA/TA", 10)

In [79]:
l[0]==l[2]
df1["Result"] = df1["case_con"].apply(lambda x : True if((x[0]!=x[2])&(x[1]>5)&(x[3]>5)) else False)

In [81]:
df1[df1["Result"]==True]

,CHROM,POS,ID,REF,case_con,Result
3679,chr12,82811,rs373297195,G,"(A/A, 8, G/A, 8)",True
3701,chr12,83011,rs370570891,T,"(C/C, 8, T/C, 8)",True
3702,chr12,83012,rs374646339,C,"(G/G, 8, C/G, 8)",True
3728,chr12,83263,rs368468543,C,"(T/T, 8, C/T, 8)",True
3734,chr12,83360,rs370722855,G,"(A/A, 8, G/A, 8)",True
3745,chr12,83560,rs368663404,G,"(T/T, 7, G/T, 8)",True
3747,chr12,83603,rs372121435,A,"(G/G, 8, A/G, 8)",True
3756,chr12,83757,rs375011395,G,"(C/C, 8, G/C, 8)",True
3771,chr12,83865,rs376082785,T,"(C/C, 8, T/C, 8)",True
3793,chr12,83979,rs369733672,T,"(C/C, 8, T/C, 8)",True
3798,chr12,84000,rs374158904,C,"(G/G, 8, C/G, 8)",True
3820,chr12,84096,rs376990822,C,"(G/G, 8, C/G, 8)",True
3829,chr12,84205,rs369990463,C,"(T/T, 8, C/T, 8)",True
3832,chr12,84243,rs373838008,C,"(T/T, 8, C/T, 8)",True
3835,chr12,84286,rs376266576,G,"(T/T, 8, G/T, 8)",True
3836,chr12,84296,rs369106844,G,"(C/C, 8, G/C, 8)",True
3837,chr12,84343,rs372982621,T,"(C/C, 8, T/C, 8)",True
3840,chr12,84433,rs377178759,C,"(A/A, 8, C/A, 8)",True
3842,chr12,84447,rs375182120,A,"(AGTT/AGTT, 8, A/AGTT, 8)",True
3852,chr12,84674,rs373561855,T,"(C/C, 8, T/C, 8)",True
3856,chr12,84716,rs371943974,G,"(A/A, 8, G/A, 8)",True
3857,chr12,84755,rs377120615,T,"(A/A, 8, T/A, 8)",True
3858,chr12,84772,rs369508834,T,"(A/A, 8, T/A, 8)",True
3865,chr12,84856,rs372405620,G,"(T/T, 8, G/T, 8)",True
3867,chr12,84871,rs376705592,G,"(C/C, 8, G/C, 8)",True
3871,chr12,84963,rs369132782,T,"(C/C, 8, T/C, 8)",True
7025,chr16,131109,rs2541632,C,"(C/T, 6, T/T, 8)",True
7049,chr16,131552,rs34532333,CT,"(CT/C, 6, C/C, 8)",True
7050,chr16,131565,rs2858045,C,"(C/A, 6, A/A, 8)",True
7579,chr16,139636,rs2239299,A,"(A/G, 6, G/G, 8)",True
...,...,...,...,...,...,...
11173472,chr1,248514978,rs28590733,T,"(C/C, 8, T/C, 6)",True
11173502,chr1,248517332,rs10712672,AT,"(A/A, 8, AT/A, 7)",True
11173512,chr1,248518266,rs139951393,T,"(TAATTACTTAATCAGAG/TAATTACTTAATCAGAG, 8, T/TAA...",True
11173523,chr1,248519821,rs1538703,T,"(G/G, 7, T/G, 7)",True
11173528,chr1,248520358,rs28607212,T,"(C/C, 7, T/C, 7)",True
11173529,chr1,248520460,rs28706835,A,"(G/G, 7, A/G, 7)",True
11173531,chr1,248521032,rs946761,T,"(C/C, 7, T/C, 7)",True
11173538,chr1,248522033,rs946764,A,"(C/C, 7, A/C, 7)",True
11173552,chr1,248523554,rs1538704,G,"(A/A, 7, G/A, 7)",True
11173561,chr1,248524683,rs1544177,C,"(G/G, 7, C/G, 7)",True
11173582,chr1,248527319,rs7524978,A,"(T/T, 7, A/T, 7)",True
11173584,chr1,248527586,rs7520659,C,"(A/A, 7, C/A, 7)",True
11173585,chr1,248527649,rs7527991,T,"(A/A, 7, T/A, 7)",True
11173586,chr1,248527810,rs7511986,G,"(A/A, 7, G/A, 7)",True
11173593,chr1,248529521,rs1361413,C,"(G/G, 7, C/G, 7)",True
11173612,chr1,248531776,rs28444488,C,"(A/A, 6, C/A, 7)",True
11173614,chr1,248531904,rs28616194,T,"(A/A, 6, T/A, 7)",True
11173615,chr1,248532290,rs6587458,T,"(A/A, 6, T/A, 7)",True
11173623,chr1,248533285,rs200838148;rs6421453,A,"(G/G, 6, A/G, 7)",True
11173638,chr1,248535626,rs6682953,T,"(C/C, 6, T/C, 7)",True
11173639,chr1,248535639,rs6682957,T,"(G/G, 6, T/G, 7)",True
11173648,chr1,248539094,rs6587462,A,"(G/G, 6, A/G, 7)",True
11173650,chr1,248539720,rs6696691,T,"(C/C, 6, T/C, 7)",True
11173655,chr1,248540413,rs6681758,T,"(A/A, 6, T/A, 7)",True
11173662,chr1,248543026,rs6674078,G,"(A/A, 6, G/A, 7)",True
11173663,chr1,248543802,rs28719164,T,"(G/G, 6, T/G, 7)",True
11173671,chr1,248545158,rs35817119;rs397782326;rs398103947,T,"(TC/TC, 6, T/TC, 7)",True
11174133,chr1,248604465,rs1770074;rs76925977,C,"(T/T, 7, C/T, 7)",True
11175543,chr1,248822490,rs28559274,T,"(T/C, 6, C/C, 6)",True
11175702,chr1,248842371,rs28372571,A,"(A/G, 6, G/G, 6)",True

In [76]:
#list(test["case_max"])[0][0][0] == list(test["control_max"])[0][0][0]
#df1.case_max[0][0][1]
#df1.iloc[:,6]

In [77]:
#df1.head()

In [43]:
#df1.isnull().sum(axis=1)
#test1 = df1[(df1.iloc[:,[4,5,6,7,8,9,10,11,12,13]].isnull().sum(axis =1)<3) & (df1.iloc[:,[14,15,16,17,18,19,20,21,22,23]].isnull().sum(axis =1)<3)]
#df1[df1["POS"]==157895049]

In [224]:
#len(test1["1c"].unique())
test1.shape

(1927371, 24)

In [116]:
#t1 = df1[((df1["1c"].isin(df1["1cn"]))&(df1["2c"].isin(df1["2cn"]))&(df1["3c"].isin(df1["3cn"]))&(df1["4c"].isin(df1["4cn"]))&\
#    (df1["5c"].isin(df1["5cn"]))&(df1["6c"].isin(df1["6cn"]))&(df1["7c"].isin(df1["7cn"]))&(df1["8c"].isin(df1["8cn"]))&(df1["9c"].isin(df1["9cn"]))&(df1["10c"].isin(df1["10cn"])))]

#t2 = df1[~((df1["1c"].isin(df1["1cn"]))&(df1["2c"].isin(df1["2cn"]))&(df1["3c"].isin(df1["3cn"]))&(df1["4c"].isin(df1["4cn"]))&\
#    (df1["5c"].isin(df1["5cn"]))&(df1["6c"].isin(df1["6cn"]))&(df1["7c"].isin(df1["7cn"]))&(df1["8c"].isin(df1["8cn"]))&(df1["9c"].isin(df1["9cn"]))&(df1["10c"].isin(df1["10cn"])))]

In [229]:
test3.shape

(1515354, 24)

In [233]:
atleast_1diff = test1[(test1["1c"] != test1['1cn'])&(test1["2c"] != test1['2cn'])&(test1["3c"] != test1['3cn'])&(test1["4c"] != test1['4cn'])\
     &(test1["4c"] != test1['4cn'])&(test1["5c"] != test1['5cn'])&(test1["6c"] != test1['6cn'])&(test1["7c"] != test1['7cn'])\
      &(test1["8c"] != test1['8cn'])&(test1["9c"] != test1['9cn'])&(test1["10c"] != test1['10cn'])]

In [237]:
atleast_1diff = atleast_1diff.reset_index()

In [243]:
#atleast_1diff[atleast_1diff.POS ==157895049 ]

Empty DataFrame
Columns: [index, CHROM, POS, ID, REF, 1c, 2c, 3c, 4c, 5c, 6c, 7c, 8c, 9c, 10c, 1cn, 2cn, 3cn, 4cn, 5cn, 6cn, 7cn, 8cn, 9cn, 10cn]
Index: []

[0 rows x 25 columns]

In [281]:
test1 = atleast_1diff #Dont do this
#rename below fiel as atleast_1diff

In [287]:
case = (test1["1c"] == test1['2c'])&(test1["2c"] == test1['3c'])&(test1["3c"] == test1['4c'])&(test1["4c"] == test1['5c'])\
     &(test1["5c"] == test1['6c'])&(test1["6c"] == test1['7c'])&(test1["7c"] == test1['8c'])&(test1["8c"] == test1['8c'])\
      &(test1["8c"] == test1['9c'])&(test1["9c"] == test1['10c'])

In [288]:
control = (test1["1cn"] == test1['2cn'])&(test1["2cn"] == test1['3cn'])&(test1["3cn"] == test1['4cn'])&(test1["4cn"] == test1['5cn'])\
     &(test1["5cn"] == test1['6cn'])&(test1["6cn"] == test1['7c'])&(test1["7cn"] == test1['8cn'])&(test1["8cn"] == test1['8cn'])\
      &(test1["8cn"] == test1['9cn'])&(test1["9cn"] == test1['10cn'])

In [49]:
#atleast_1diff[both]

5           False
15          False
17           True
25          False
26          False
            ...
11176353    False
11176382    False
11176433    False
11176435    False
11176449     True
Length: 1927371, dtype: bool

In [276]:
case

5           False
15          False
17           True
25          False
26          False
            ...
11176353    False
11176382    False
11176433     True
11176435     True
11176449     True
Length: 1927371, dtype: bool

In [277]:
control

5           False
15           True
17           True
25           True
26           True
            ...
11176353    False
11176382    False
11176433    False
11176435    False
11176449     True
Length: 1927371, dtype: bool

In [271]:
atleast_1diff[case]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [119]:
#t2.iloc[0,:]

In [120]:
#t1.iloc[5000,4:]

In [84]:
#case = t2.loc[:,['CHROM', 'POS', 'ID', 'REF', '1c', '2c', '3c', '4c', '5c', '6c', '7c','8c', '9c', '10c']]

In [85]:
#case.head()

In [86]:
#control = t2.loc[:,['CHROM', 'POS', 'ID', 'REF','1cn', '2cn', '3cn', '4cn', '5cn', '6cn', '7cn','8cn', '9cn', '10cn']]

In [87]:
#case.shape ==control.shape

In [89]:
#col = ['CHROM', 'POS', 'ID', 'REF', '1', '2', '3', '4', '5', '6', '7',
#       '8', '9', '10']

In [90]:
#case.columns = col
#control.columnsl = col

In [121]:
#case.head()

In [122]:
#control.head()

In [123]:
#case

In [124]:
#control[control.POS == 157895049]