In [1]:
import numpy as np
import pandas as pd

In [4]:
#df1 = pd.read_csv("../case_con_mer.csv",low_memory=False)
df1 = pd.read_csv("../case_snp.csv")
df2 = pd.read_csv("../control_snp.csv")

In [11]:
df1[df1["POS"]==47080679]

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
3328694,chr1,47080679,rs386429394;rs6671527,G,A/A,NaN,A/A,G/A,A/A,A/A,A/A,A/A,A/A,G/A

In [7]:
df2.tail()

,#CHROM,POS,ID,REF,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
9258966,chr1,249239950,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T/TTA,NaN,NaN
9258967,chr1,249240099,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T/TA
9258968,chr1,249240217,.,G,G/GT,NaN,NaN,NaN,NaN,NaN,NaN,G/GT,NaN,G/GGTT
9258969,chr1,249240248,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T/TC
9258970,chr1,249240255,rs372794742,AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AG/A,NaN,NaN

In [10]:
df1 = df1.sort_values(by=["POS","ID"])

In [7]:
df1.shape

(11176568, 24)

In [13]:
df1 = df1.reset_index(drop=True)

In [14]:
df1.head()

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,146,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [16]:
col = ['CHROM', 'POS', 'ID', 'REF', '1c', '2c',
       '3c', '4c', '5c',
       '6c', '7c', '8c',
       '9c', '10c', '1cn',
       '2cn', '3cn', '4cn',
       '5cn', '6cn', '7cn',
       '8cn', '9cn', '10cn']

In [17]:
df1.columns= col

In [19]:
#df1.to_csv("../case_con_mer.csv",index=False , encoding="utf-8")

In [21]:
df1 = pd.read_csv("case_con_mer.csv")