In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
import sys

## Make a Loop to Convert files in a loop

In [3]:
path = "/BiO/Preterm/raw_data/"
files = os.listdir(path)
files1 = files[:10]   #First 10 files
files2 = files[10:20]  #Last 10 Files

In [4]:
print(files1)
files2

['873', '875', '880', '910', '1009', '1134', '1293', '1389', '1428', '1477']

['1481', '1489', '1557', '1584', '1591', '989', '1093', '1119', '1282', '1316']

In [6]:
#Creating A Function to speed the Task
def snp_new_col(df):
    if df["SNP"]=="0/0":
        return (str(df["REF"])+"/"+str(df["REF"]))
    elif df["SNP"]=="0/1":
        return (str(df["REF"])+"/"+str(df["ALT"]))
    elif df["SNP"]=="1/1":
        return (str(df["ALT"]+"/"+str(df["ALT"])))
    else:
        return (str(df["REF"]+"/"+str(df["ALT"])))

In [7]:
import tqdm
path = "/BiO/Preterm/raw_data/"

for file in tqdm.tqdm(files2): #Change Files1 and 2
    file_list =  os.listdir(path+file+ "/")
    
    if (file+"_snp.csv") in file_list:
        #print("\nFile already Exist",file+"_snp.csv")
        #print("Remove this Manually if you want do Again...\n")
        pass
    elif file+".csv" in file_list:
        print(file +".csv", end="\t")
        df = pd.read_csv(path+file+"/"+file+".csv")
        print("DataFrame loaded")
        df = df.drop(df[df.SNP=="."].index)
        print("File Loaded Now Creating a new Col SnP")
        
        #df["SnP"] = df.apply (lambda x : snp_new_col(x),axis=1)
        # I will try to reduce these 4 Lines in One line of Code
        
        df["SnP"] = np.where(df.loc[:,"SNP"]=="0/0",(df.REF.astype(str)+"/"+df.REF.astype(str)),".")
        df["SnP"] = np.where(df.loc[:,"SNP"]=="0/1",(df.REF.astype(str)+"/"+df.ALT.astype(str)),df.SnP)
        print("SNP 2 step Finished")
        df["SnP"] = np.where(df.loc[:,"SNP"]=="1/1",(df.ALT.astype(str)+"/"+df.ALT.astype(str)),df.SnP)
        df["SnP"] = np.where(df.loc[:,"SNP"]=="1/2",(df.REF.astype(str)+"/"+df.ALT.astype(str)),df.SnP)
        print("Writing csv File")
        df.to_csv(path+file+"/"+file+"_snp.csv",index=False)
        #df.to_csv("/BiO/Preterm/raw_data/"+first+"/"+first+"_snp.csv",index=False)
        print(file ,"Completed")
    else :
        print("Csv File Not Found Please Convert tsv Files to CSV First")
        print("Thank You")

  0%|          | 0/10 [00:00<?, ?it/s]

1584.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 40%|████      | 4/10 [22:04<33:07, 331.20s/it]

1584 Completed
1591.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 50%|█████     | 5/10 [1:10:28<1:31:54, 1102.89s/it]

1591 Completed
989.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 60%|██████    | 6/10 [1:38:32<1:25:09, 1277.30s/it]

989 Completed
1093.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 70%|███████   | 7/10 [1:58:39<1:02:48, 1256.12s/it]

1093 Completed
1119.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 80%|████████  | 8/10 [2:25:59<45:42, 1371.45s/it]

1119 Completed
1282.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

 90%|█████████ | 9/10 [2:45:19<21:47, 1307.91s/it]

1282 Completed
1316.csv	DataFrame loaded
File Loaded Now Creating a new Col SnP
SNP 2 step Finished
Writing csv File

100%|██████████| 10/10 [3:05:40<00:00, 1114.01s/it]

1316 Completed

In [13]:
df = pd.read_csv(path+first+"/"+first+".csv")
#df2 = pd.read_csv(path+second+"/"+second+".csv")

In [118]:
df.head()

  CHROM    POS REF ALT  SNP  SnP
0  chr1  12591   C   .  0/0  C/C
1  chr1  12606   C   .  0/0  C/C
2  chr1  12615   G   .  0/0  G/G
3  chr1  12617   G   .  0/0  G/G
4  chr1  12634   G   .  0/0  G/G

In [15]:
df2.head()

  CHROM    POS REF ALT  SNP
0  chr1  12630   G   .  0/0
1  chr1  12633   T   .  0/0
2  chr1  12637   C   .  0/0
3  chr1  12654   C   .  0/0
4  chr1  12684   T   .  0/0

In [33]:
df2.SNP.unique()

array(['0/0', '0/1', '1/1', '.', '1/2'], dtype=object)

In [35]:
#Since We Found there is "." in SNP So remove these kind of rows which are use less
print(df2.shape)

df2 = df2.drop(df2[df2.SNP=="."].index)
print(df2.shape)

(199399537, 5)
(199262213, 5)

In [36]:
#same Process for df1 File
print(df.shape)
df = df.drop(df[df.SNP=="."].index)
print(df.shape)

(226819800, 5)
(226666991, 5)

In [38]:
df.SNP.unique()

array(['0/0', '0/1', '1/1', '1/2'], dtype=object)

In [39]:
df2.SNP.unique()

array(['0/0', '0/1', '1/1', '1/2'], dtype=object)

In [41]:
#df2[df2.SNP=="1/2"]

In [104]:
test1 = df.head(1000)
test2 = df2.head(1000)

In [98]:
#Create a blank Container

combine_df = pd.DataFrame(columns=test1.columns)
combine_df

Empty DataFrame
Columns: [CHROM, POS, REF, ALT, SNP]
Index: []

In [99]:
test2.tail()

    CHROM    POS REF ALT  SNP
995  chr1  20510   C   .  C/C
996  chr1  20511   A   .  A/A
997  chr1  20512   G   T  G/T
998  chr1  20513   A   .  A/A
999  chr1  20541   T   .  T/T

In [111]:
df["SnP"] = np.where(df.loc[:,"SNP"]=="0/0",(df.REF.astype(str)+"/"+df.REF.astype(str)),".")
df["SnP"] = np.where(df.loc[:,"SNP"]=="0/1",(df.REF.astype(str)+"/"+df.ALT.astype(str)),df.SnP)
df["SnP"] = np.where(df.loc[:,"SNP"]=="1/1",(df.ALT.astype(str)+"/"+df.ALT.astype(str)),df.SnP)
df["SnP"] = np.where(df.loc[:,"SNP"]=="1/2",(df.REF.astype(str)+"/"+df.ALT.astype(str)),df.SnP)

df.head()

  CHROM    POS REF ALT  SNP  SnP
0  chr1  12591   C   .  0/0  C/C
1  chr1  12606   C   .  0/0  C/C
2  chr1  12615   G   .  0/0  G/G
3  chr1  12617   G   .  0/0  G/G
4  chr1  12634   G   .  0/0  G/G

In [113]:
df[df.SNP == "1/2"]

,CHROM,POS,REF,ALT,SNP,SnP
361,chr1,15274,A,"G,T",1/2,"A/G,T"
2242,chr1,83829,GAGAAAGAAAGAAAGAAAGAAAGAA,"G,GAGAAAGAAAGAAAGAGAAAGAAAGAA",1/2,"GAGAAAGAAAGAAAGAAAGAAAGAA/G,GAGAAAGAAAGAAAGAGA..."
9947,chr1,726313,CGAATGGAATGGAATG,"CGAATGGAATG,C",1/2,"CGAATGGAATGGAATG/CGAATGGAATG,C"
15283,chr1,795558,C,"CTT,CTTTTT",1/2,"C/CTT,CTTTTT"
18016,chr1,821280,GTCT,"GT,GTC",1/2,"GTCT/GT,GTC"
...,...,...,...,...,...,...
226804310,chrX,154845791,CCT,"CTCT,C",1/2,"CCT/CTCT,C"
226804880,chrX,154854178,CATCTATCT,"CATCTATCTATCT,C",1/2,"CATCTATCT/CATCTATCTATCT,C"
226810846,chrY,10002859,TTGTG,"T,TT",1/2,"TTGTG/T,TT"
226810899,chrY,13314070,A,"C,T",1/2,"A/C,T"
226819610,chrM,16183,AC,"ACC,A",1/2,"AC/ACC,A"

In [115]:
df.to_csv("/BiO/Preterm/raw_data/"+first+"/"+first+"_snp.csv",index=False)

In [74]:
#test2["SnP"] = test2[["SNP","REF","ALT"]].apply(lambda x:(test2["REF"].astype(str)/test2["REF"].astype(str))if x =="0/0"\
#                else((test2["REF"].astype(str)+"/"+test2["ALT"].astype(str))if x == "0/1"\
#                                  else((test2["ALT"].astype(str)+"/"+test2["ALT"].astype(str))if x== "1\1" \
#                                  else (test2["REF"].astype(str)+"/"+test2["ALT"].astype(str))))
                                        
#test2.head()
                                                
#    np.where(df.iloc[:,-1]=="0/1",df["REF"].astype(str)+"/"+df["ALT"]),
#                      (df["ALT"].astype(str)+"/"+df["ALT"]))

In [100]:
#test2.loc[:,"SNP"].head(2)
import warnings
warnings.filterwarnings("ignore")

In [102]:
test2["SNP"] = np.where(test2.loc[:,"SNP"]=="0/0",(test2.REF.astype(str)+"/"+test2.REF.astype(str)),test2.SNP)
test2["SNP"] = np.where(test2.loc[:,"SNP"]=="0/1",(test2.REF.astype(str)+"/"+test2.ALT.astype(str)),test2.SNP)
test2["SNP"] = np.where(test2.loc[:,"SNP"]=="1/1",(test2.ALT.astype(str)+"/"+test2.ALT.astype(str)),test2.SNP)
test2["SNP"] = np.where(test2.loc[:,"SNP"]=="1/2",(test2.REF.astype(str)+"/"+test2.ALT.astype(str)),test2.SNP)

test2.head()

  CHROM    POS REF ALT  SNP
0  chr1  12630   G   .  G/G
1  chr1  12633   T   .  T/T
2  chr1  12637   C   .  C/C
3  chr1  12654   C   .  C/C
4  chr1  12684   T   .  T/T

In [106]:
test2[test2.SNP=="1/2"]

Empty DataFrame
Columns: [CHROM, POS, REF, ALT, SNP]
Index: []

In [108]:
test2.SNP.unique()

array(['G/G', 'T/T', 'C/C', 'A/A', 'C/CGAGA', 'G/A', 'GC/GC', 'T/C',
       'G/C', 'C/T', 'A/G', 'A/C', 'G/T'], dtype=object)

In [58]:
test2["SnP"] = test2["SNP"].apply(lambda x: test2["REF"].astype(str)+"/"+test2["REF"].astype(str) if x =="0/0"\
                else test2["REF"].astype(str)+"/"+test2["ALT"].astype(str))#if x == "0/1"

ValueError: Wrong number of items passed 1000, placement implies 1

In [25]:
df2.SNP.unique()

array(['0/0', '0/1', '1/1', '.', '1/2'], dtype=object)

In [44]:
#df[df.SNP=="."] #873

In [43]:
#df[df["POS"]==231051]

In [42]:
#df2[df2.SNP=="."] #875