In [10]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LinearRegression

In [2]:
x = pd.read_csv("../trgc1000.csv",)
y = pd.read_csv("../ffyrgc1000.csv")

In [5]:
x = x.iloc[:,1:]
y= y.iloc[:,1:]

In [6]:
x.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0
2,0.776000,0.859109,1.088169,0.999555,0.874939,0.900284,0.921841,1.000981,1.542597,1.187256,...,0,0,0,0,0,0,0,0,0,0
3,0.830294,0.607093,1.274800,0.874782,0.912154,0.830760,0.982844,1.022367,1.115530,1.213903,...,0,0,0,0,0,0,0,0,0,0
4,0.994159,0.765493,1.102799,0.936201,0.931106,0.787266,1.011050,1.124190,1.803787,1.229195,...,0,0,0,0,0,0,0,0,0,0

In [7]:
y.head()

         V1
0  0.190527
1  0.177721
2  0.149877
3  0.176562
4  0.079673

In [9]:
x.shape

(1000, 10332)

In [11]:
x_train,x_test =train_test_split(x)

In [13]:
x_train.shape,x_test.shape

((750, 10332), (250, 10332))

In [14]:
y_train, y_test = train_test_split(y)

In [15]:
y_train.shape, y_test.shape

((750, 1), (250, 1))

In [21]:
sel = SelectFromModel(LinearRegression())

In [23]:
sel.fit(x_train,y_train)

SelectFromModel(estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                           n_jobs=None, normalize=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [26]:
len(sel.get_support())

10332

In [27]:
sel.estimator

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)