In [50]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import numpy as np
%matplotlib inline

# PCA_TRGC

In [51]:
df = pd.read_csv('../datas_not_to_upload/trgc10000.csv', nrows=1000)

In [52]:
df.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,1,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,...,0,0,0,0,0,0,0,0,0,0
1,2,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,...,0,0,0,0,0,0,0,0,0,0
2,3,0.794579,0.624215,1.162626,1.002403,0.870992,0.831627,1.042087,1.107656,1.714645,...,0,0,0,0,0,0,0,0,0,0
3,4,0.776000,0.859109,1.088169,0.999555,0.874939,0.900284,0.921841,1.000981,1.542597,...,0,0,0,0,0,0,0,0,0,0
4,5,0.830294,0.607093,1.274800,0.874782,0.912154,0.830760,0.982844,1.022367,1.115530,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df.shape

(1000, 10333)

In [54]:
df = df.drop(columns = 'Unnamed: 0')

In [55]:
df.shape

(1000, 10332)

In [56]:
df.head(3)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0
2,0.794579,0.624215,1.162626,1.002403,0.870992,0.831627,1.042087,1.107656,1.714645,1.207776,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df = df.loc[:, (df != 0).any(axis=0)]
#df.loc[(df.sum()) == 0]

In [58]:
#df.sum()

In [59]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V9607,V9608,V9609,V9610,V9611,V9612,V9613,V9614,V9615,V9616
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,1.155784,1.183426,1.116000,1.136232,1.055771,0.805667,0.880747,0.861866,0.799674,1.012808
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,1.083800,1.294737,1.187249,1.054525,1.070078,0.836637,0.914356,0.805049,0.695066,1.020791
2,0.794579,0.624215,1.162626,1.002403,0.870992,0.831627,1.042087,1.107656,1.714645,1.207776,...,1.163370,1.335390,1.135935,1.155440,1.130427,0.811164,0.796060,0.759275,0.739378,1.028994
3,0.776000,0.859109,1.088169,0.999555,0.874939,0.900284,0.921841,1.000981,1.542597,1.187256,...,1.165061,1.229740,1.111272,1.249277,1.017208,0.866716,0.940337,0.917504,0.845770,1.017865
4,0.830294,0.607093,1.274800,0.874782,0.912154,0.830760,0.982844,1.022367,1.115530,1.213903,...,1.080482,1.242435,1.105003,1.126632,1.034434,0.823038,0.842997,0.914820,0.761737,1.012413

In [60]:
df2 = pd.read_csv('../datas_not_to_upload/gcbininfo_10000.csv', nrows=1000)
df2.head()

          GC
0  19.052706
1  17.772070
2  16.200000
3  14.987733
4  17.656184

In [61]:
from sklearn.preprocessing import StandardScaler

x = StandardScaler().fit_transform(df)
x

array([[ 0.72185737, -0.34493759, -0.92746154, ...,  0.30026761,
         0.88296585, -0.60117516],
       [ 0.62964814, -0.86179623, -0.70813348, ..., -0.95692768,
        -1.40940862,  0.42707815],
       [-0.12236134, -0.83099579,  0.60650561, ..., -1.96976748,
        -0.43835969,  1.48368503],
       ...,
       [ 1.92146803,  1.50262205,  0.73599924, ..., -0.62850453,
        -0.79914209,  0.24849652],
       [ 0.16937617,  1.29024929, -0.18117688, ...,  0.96680407,
         0.1208541 , -0.11990678],
       [-0.63886257, -0.1476741 ,  1.73606854, ...,  3.03879901,
        -0.49143593, -0.20553488]])

In [62]:
from sklearn.decomposition import PCA
pca = PCA(n_components=700) # Will reduce the number of Column
principalComponents = pca.fit_transform(x)
rng = range(1, 701)
principalDf = pd.DataFrame(data = principalComponents, columns = ['V_' +str(i) for i in rng])
principalDf.head(3)

,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,...,V_691,V_692,V_693,V_694,V_695,V_696,V_697,V_698,V_699,V_700
0,-16.398278,6.564350,20.404455,-11.388544,-1.863165,-5.344832,-2.269748,5.044095,7.779649,1.346775,...,-0.975062,1.210033,1.874226,2.017324,4.186094,1.245912,1.547364,0.631055,-0.222268,-2.281717
1,-3.941485,-12.435596,16.542604,0.053020,-4.981696,-3.970207,-1.181509,3.490834,2.703999,4.860714,...,2.232603,2.874597,-1.579604,1.049227,1.718669,-0.480649,-1.479402,2.348402,-1.409994,-1.289297
2,24.417974,-27.308925,-0.867588,-7.492567,-5.762510,-8.090259,-4.136901,-4.001146,-5.688954,-10.100443,...,1.489241,0.330123,1.474277,-2.604818,-2.553941,2.230622,0.679034,-1.907899,-2.744426,2.113903

In [63]:
finalDf = pd.concat ([principalDf, df2], axis = 1)
finalDf.head()

,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,...,V_692,V_693,V_694,V_695,V_696,V_697,V_698,V_699,V_700,GC
0,-16.398278,6.564350,20.404455,-11.388544,-1.863165,-5.344832,-2.269748,5.044095,7.779649,1.346775,...,1.210033,1.874226,2.017324,4.186094,1.245912,1.547364,0.631055,-0.222268,-2.281717,19.052706
1,-3.941485,-12.435596,16.542604,0.053020,-4.981696,-3.970207,-1.181509,3.490834,2.703999,4.860714,...,2.874597,-1.579604,1.049227,1.718669,-0.480649,-1.479402,2.348402,-1.409994,-1.289297,17.772070
2,24.417974,-27.308925,-0.867588,-7.492567,-5.762510,-8.090259,-4.136901,-4.001146,-5.688954,-10.100443,...,0.330123,1.474277,-2.604818,-2.553941,2.230622,0.679034,-1.907899,-2.744426,2.113903,16.200000
3,-25.263397,-10.834204,20.373797,-6.428486,4.285977,5.485741,-3.475070,-12.671351,7.351502,-8.507628,...,2.192261,0.758561,-0.225229,1.719988,0.743628,1.330904,0.319556,-1.725584,-0.070791,14.987733
4,-22.890279,7.540736,17.614680,6.203231,-10.758345,7.298784,1.435614,-1.277444,9.471098,2.023184,...,-1.391061,-1.923160,1.417403,-1.087412,-4.640058,-2.634224,0.826133,-3.671403,-2.173144,17.656184

In [64]:
finalDf.to_csv("../datas_not_to_upload/pca_test700.csv", header=True, index=False)

# pca_tsrl

In [65]:
df = pd.read_csv('../datas_not_to_upload/tsrl10000.csv', nrows=1000)
df.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,...,0,0,0,0,0,0,0,0,0,0
1,2,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,...,0,0,0,0,0,0,0,0,0,0
2,3,1.189828,1.341258,1.318985,1.428393,1.231587,1.093561,1.002102,1.112995,1.176748,...,0,0,0,0,0,0,0,0,0,0
3,4,1.095742,1.303067,1.227491,1.432205,1.205396,1.127021,1.086715,1.131803,1.191169,...,0,0,0,0,0,0,0,0,0,0
4,5,1.165233,1.305064,1.343262,1.398126,1.262697,1.171491,1.112898,1.185458,1.221431,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df = df.drop(columns = 'Unnamed: 0') # Remove Index COlumn Unnamed

In [67]:
df = df.loc[:, (df != 0).any(axis=0)]

In [68]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V3601,V3602,V3603,V3604,V3605,V3606,V3607,V3608,V3609,V3610
0,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,1.145272,...,1.214459,1.137815,1.084471,1.334146,1.159960,1.072909,1.194103,1.202118,1.307157,0.847474
1,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,1.140321,...,1.162154,1.197372,1.216741,1.290969,1.162834,1.072192,1.150107,1.194950,1.369463,1.132686
2,1.189828,1.341258,1.318985,1.428393,1.231587,1.093561,1.002102,1.112995,1.176748,1.116133,...,1.126933,1.119189,1.113998,1.172282,1.123764,1.037933,1.087116,1.221538,1.271180,1.165280
3,1.095742,1.303067,1.227491,1.432205,1.205396,1.127021,1.086715,1.131803,1.191169,1.112259,...,1.151855,1.172221,1.132486,1.202703,1.142351,1.096877,1.155193,1.243334,1.251921,1.215242
4,1.165233,1.305064,1.343262,1.398126,1.262697,1.171491,1.112898,1.185458,1.221431,1.107177,...,1.177826,1.143827,1.085091,1.227134,1.056498,1.065221,1.150022,1.199115,1.304126,1.259913

In [73]:
df2 = pd.read_csv('../datas_not_to_upload/srlbininfo_10000', nrows=1000, sep="\t", header=None)
df2.columns = ["ID", "B1"]
df2.head()

                                                  ID         B1
0  GC1601C0356_20160125-150072_IonXpress_010.Fast...  19.052706
1  GC1601C0359_20160125-340100_IonXpress_013.Fast...  17.772070
2  GC1601C0361_20160125-330680_IonXpress_015.Fast...  16.200000
3  GC1601C0376_20160126-330733_IonXpress_018.Fast...  14.987733
4  GC1601C0378_20160126-300332_IonXpress_020.Fast...  17.656184

In [74]:
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(df)
x

array([[ 0.13206805,  0.16022381,  1.5329304 , ...,  0.53759547,
         0.05139438, -2.00445477],
       [-0.44550309,  1.16618791,  1.17744836, ...,  0.42541003,
         0.88499406, -0.27576356],
       [ 0.32848958,  0.23821874,  0.51208796, ...,  0.84153596,
        -0.42994348, -0.07820869],
       ...,
       [ 0.71765659,  0.02659596, -1.17396616, ..., -0.23747995,
        -0.92403778, -1.00947481],
       [ 1.76738378, -0.14445157, -0.01703753, ..., -0.54731783,
         0.45027086,  0.1995252 ],
       [-1.56066296, -1.6674483 , -1.79510761, ..., -0.95857472,
        -3.39642868, -0.19284696]])

In [75]:
from sklearn.decomposition import PCA
pca = PCA(n_components=700)
principalComponents = pca.fit_transform(x)
rng = range(1, 701)
principalDf = pd.DataFrame(data = principalComponents, columns = ['V_' +str(i) for i in rng])
principalDf.head()

,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,...,V_691,V_692,V_693,V_694,V_695,V_696,V_697,V_698,V_699,V_700
0,-29.755846,-4.344965,1.838172,-3.613448,2.845288,1.312676,-1.200418,-2.088181,0.392805,0.952407,...,0.404403,1.225826,-1.269920,1.490630,1.738344,3.431828,0.590081,-0.164592,-0.486329,0.794070
1,-33.016124,-3.225344,-0.617836,-4.409763,3.478664,0.687425,-2.848792,-1.837328,1.101455,0.735955,...,-1.219136,-0.690651,0.305531,1.266565,0.271688,-0.613703,-0.078583,1.589137,0.478306,1.247111
2,-2.325064,-7.209644,-2.915636,-3.089179,2.253504,1.735445,-1.399477,-1.453378,0.463330,-1.027456,...,-1.591694,0.593234,-1.536974,-1.352392,-2.682010,0.039549,0.697741,0.772095,0.372355,0.158347
3,-7.814232,-17.393018,6.341662,-2.483139,0.432135,-0.029495,-0.682123,1.601007,-0.040119,-0.703034,...,1.041366,0.740712,2.611115,1.606152,0.656533,-1.693953,-1.237749,-0.876899,-0.347682,1.984497
4,-19.627242,-7.920193,4.828795,-3.153543,1.940609,3.395733,-3.056090,1.086754,-1.395276,-3.179064,...,0.152352,1.540298,-1.363776,1.501736,-1.425816,-1.934991,-1.337605,-0.398729,0.697574,0.224115

In [76]:
df2["B1"]

0      19.052706
1      17.772070
2      16.200000
3      14.987733
4      17.656184
         ...
995     6.077366
996    19.420398
997     5.532859
998     7.040892
999     6.642502
Name: B1, Length: 1000, dtype: float64

In [77]:
finalDf = pd.concat ([principalDf, df2["B1"]], axis = 1)
finalDf.head()

,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,...,V_692,V_693,V_694,V_695,V_696,V_697,V_698,V_699,V_700,B1
0,-29.755846,-4.344965,1.838172,-3.613448,2.845288,1.312676,-1.200418,-2.088181,0.392805,0.952407,...,1.225826,-1.269920,1.490630,1.738344,3.431828,0.590081,-0.164592,-0.486329,0.794070,19.052706
1,-33.016124,-3.225344,-0.617836,-4.409763,3.478664,0.687425,-2.848792,-1.837328,1.101455,0.735955,...,-0.690651,0.305531,1.266565,0.271688,-0.613703,-0.078583,1.589137,0.478306,1.247111,17.772070
2,-2.325064,-7.209644,-2.915636,-3.089179,2.253504,1.735445,-1.399477,-1.453378,0.463330,-1.027456,...,0.593234,-1.536974,-1.352392,-2.682010,0.039549,0.697741,0.772095,0.372355,0.158347,16.200000
3,-7.814232,-17.393018,6.341662,-2.483139,0.432135,-0.029495,-0.682123,1.601007,-0.040119,-0.703034,...,0.740712,2.611115,1.606152,0.656533,-1.693953,-1.237749,-0.876899,-0.347682,1.984497,14.987733
4,-19.627242,-7.920193,4.828795,-3.153543,1.940609,3.395733,-3.056090,1.086754,-1.395276,-3.179064,...,1.540298,-1.363776,1.501736,-1.425816,-1.934991,-1.337605,-0.398729,0.697574,0.224115,17.656184

### Save RL result

In [78]:
finalDf.to_csv("../datas_not_to_upload/pca_rl_test700.csv", header=True, index=False)