In [17]:
import pandas as pd
import  numpy as np
import os
import re

In [83]:
# Automatic loop for 20 files

In [11]:
files_names = os.listdir("../snp_small_files/")
#len(files_names)
#os.getcwd()
#files_names[:5]

['873_case.csv',
 '875_case.csv',
 '880_case.csv',
 '910_case.csv',
 '1134_control.csv']

In [10]:
 df= pd.read_csv("../snp_small_files/"+"1093_control.csv")  #read the files

In [5]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'GEN_989'], dtype='object')

In [7]:
#df[df["ID"]=="rs2963463"]
df.head()

  #CHROM    POS ID REF ALT GEN_989_case
0   chr1  13868  .   A   G          0/1
1   chr1  13868  .   A   G          0/1
2   chr1  13868  .   A   G          0/1
3   chr1  13868  .   A   G          0/1
4   chr1  13868  .   A   G          0/1

In [15]:
files_names = ["1093_control.csv","989_case.csv","1316_control.csv","1119_case.csv","1282_case.csv"]

In [19]:
for data in files_names:
    print("Loading "+data, end =">>")
    df= pd.read_csv("../snp_small_files/"+data)  #read the files
    df = df.drop_duplicates()  #duplicates the rows by same values
    df["GEN"+"_"+data] = np.where(df.iloc[:,-1]=="0/1",(df["REF"].astype(str)+"/"+df["ALT"]),
                      (df["ALT"].astype(str)+"/"+df["ALT"]))
    df = df.iloc[:,[0,1,2,3,-1]] #We Need only first ,Second,third , fourh and last columns
    df.to_csv("/BiO/Preterm/krishna_test/snp_analysis/"+data,index = None, header=True)
print("\n All task Complete")

Loading 1093_control.csv>>Loading 989_case.csv>>Loading 1316_control.csv>>Loading 1119_case.csv>>Loading 1282_case.csv>>
 All task Complete

In [124]:
#df.shape

(4170064, 7)

In [90]:
#df1 = pd.read_csv("1009_case.csv")
#df2 = pd.read_csv("1428_control.csv")

In [93]:
#df1 = df1.drop_duplicates()
#df2 = df2.drop_duplicates()

In [ ]:
#df1.shape ,  df2.shape

In [95]:
#df1 = df1.head(100) #For fast Processing Only short Purpose
#df2 = df2.head(100)

In [ ]:
#df1.head()

In [55]:
#df1["ALT"] = if df1["REF"].astype(str)+"/"+df1["ALT"]

In [105]:
#df1["GEN"] = np.where(df1.iloc[:,-1]=="0/1",(df1["REF"].astype(str)+"/"+df1["ALT"]),
#                      (df1["ALT"].astype(str)+"/"+df1["ALT"]))

In [120]:
#df1 = df1.iloc[:,[0,1,2,3,-1]]
#df1[df1["GEN"]==("A/A" or "C/C" or "T/T")]
#df1.to_csv("/BiO/Preterm/krishna_test/snp_analysis/"+"test.csv",index = None, header=True)