In [2]:
import pandas as pd
import numpy as np

In [24]:
case = 0

In [4]:
#case = pd.read_csv("case_snp.csv",header = None,low_memory =False)
con = pd.read_csv("control_snp.csv",header = None,low_memory =False)

In [6]:
case = case.iloc[1:,:]
con =  con.iloc[1:,:]

In [9]:
case.shape

(9250790, 14)

In [12]:
con.shape

(9258971, 14)

In [26]:
con.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,chrM,146,.,T,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chrM,150,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
3,chrM,152,.,T,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
4,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
5,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G
6,chrM,195,.,C,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
7,chrM,199,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN
8,chrM,200,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,chrM,247,.,GA,NaN,NaN,NaN,G/G,NaN,NaN,G/G,NaN,NaN,NaN
10,chrM,263,.,G,NaN,NaN,NaN,A/A,NaN,NaN,NaN,NaN,NaN,NaN
11,chrM,302,.,AC,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
12,chrM,302,.,A,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
13,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
14,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
15,chrM,491,.,T,NaN,NaN,C/C,NaN,C/C,C/C,NaN,NaN,C/C,NaN
16,chrM,515,.,GCA,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN,NaN
17,chrM,569,.,A,"ACCC,ACCCCC/ACCC,ACCCCC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,chrM,711,.,G,NaN,A/A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A/A
19,chr17,828,rs62053745,T,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C
20,chr17,834,rs9747082,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A

In [14]:
len(con.iloc[:,1])

9258971

In [17]:
len(con.iloc[:,1].unique())

8750479

In [18]:
case.head()

     0    1  2  3    4    5    6    7    8    9    10   11   12   13
1  chrM  150  .  T  C/C  C/C  C/C  NaN  NaN  NaN  NaN  C/C  C/C  NaN
2  chrM  152  .  T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN  NaN
3  chrM  195  .  C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  NaN
4  chrM  199  .  T  NaN  NaN  NaN  NaN  C/C  NaN  C/C  NaN  NaN  NaN
5  chrM  200  .  A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  G/G  NaN  NaN

In [21]:
con.iloc[:20,[0,1,2]]

        0    1           2
1    chrM  146           .
2    chrM  150           .
3    chrM  152           .
4   chr17  169           .
5    chrM  183           .
6    chrM  195           .
7    chrM  199           .
8    chrM  200           .
9    chrM  247           .
10   chrM  263           .
11   chrM  302           .
12   chrM  302           .
13  chr17  302  rs35998167
14   chrM  410           .
15   chrM  491           .
16   chrM  515           .
17   chrM  569           .
18   chrM  711           .
19  chr17  828  rs62053745
20  chr17  834   rs9747082

In [23]:
case.iloc[:20,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN,NaN
3,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
4,chrM,199,.,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,NaN,NaN,NaN
5,chrM,200,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
6,chrM,214,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G
7,chrM,235,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
8,chrM,247,.,GA,NaN,G/G,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,chrM,257,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
11,chrM,302,.,A,A/AC,NaN,NaN,NaN,NaN,NaN,NaN,A/AC,NaN,NaN
12,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
13,chrM,317,.,C,NaN,NaN,NaN,NaN,C/CGGGGG,NaN,NaN,NaN,NaN,NaN
14,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
15,chrM,491,.,T,NaN,NaN,NaN,NaN,C/C,C/C,C/C,NaN,NaN,NaN
16,chrM,515,.,G,NaN,GCA/GCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,chrM,515,.,GCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
18,chrM,608,.,A,NaN,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,chrM,665,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
20,chrM,711,.,G,NaN,NaN,NaN,NaN,NaN,A/A,NaN,NaN,NaN,NaN