In [1]:
import pandas as pd
#import numpy as np
import os

In [2]:
raw_file = os.listdir("/BiO/Preterm/raw_data/")
case   =   ['873','875','880','910','989','1009','1584','1119','1282','1489']
control = ['1293',"1316", '1389','1428','1477','1481','1557','1591','1134','1093']

In [ ]:
for data in raw_file:
    if data is in ('989','1093',"1316",'1119','1282'): #These data should be processed separately
        pass
    df = pd.read_csv(("/BiO/Preterm/raw_data/"+data+"/"+data+".snpeff.isoform.tsv"),sep="\t")
    print(data +"Loaded",end="--->>>")
    
    df = df.iloc[:,[0,1,2,3,4,7]] ##We dont need all columns so lets check
    df = df.rename(columns = {df.columns[-1] :"GEN_"+data[:4]})
    
    print(("Saving the csv file"))
    #Writing csv to HDD
    if data in  case:
        df.to_csv(r"../snp_small_files/"+data+"_case"+ ".csv",index=None,header =True)
    elif data in  control:
        df.to_csv(r"../snp_small_files/"+data+"_control"+ ".csv",index=None,header =True)
    else:
        print("check the file format")
    print(data +"Completed")

print("All task completed")

873Loaded--->>>Saving the csv file
873Completed
875Loaded--->>>Saving the csv file
875Completed
880Loaded--->>>Saving the csv file
880Completed
910Loaded--->>>Saving the csv file
910Completed
1009Loaded--->>>Saving the csv file
1009Completed
1134Loaded--->>>Saving the csv file
1134Completed
1293Loaded--->>>Saving the csv file
1293Completed
1389Loaded--->>>Saving the csv file
1389Completed
1428Loaded--->>>Saving the csv file
1428Completed
1477Loaded--->>>Saving the csv file
1477Completed
1481Loaded--->>>Saving the csv file
1481Completed
1489Loaded--->>>Saving the csv file
1489Completed
1557Loaded--->>>Saving the csv file
1557Completed
1584Loaded--->>>Saving the csv file
1584Completed
1591Loaded--->>>Saving the csv file
1591Completed
989Loaded--->>>Saving the csv file
989Completed
1093Loaded--->>>Saving the csv file
1093Completed
1119Loaded--->>>Saving the csv file
1119Completed
1282Loaded--->>>Saving the csv file
1282Completed
1316Loaded--->>>Saving the csv file

In [47]:
#We find 2 files format is wrong so lets do again 1316_control and 989_case
data = "1282"

In [48]:
df = pd.read_csv(("/BiO/Preterm/raw_data/"+data+"/"+data+".snpeff.isoform.tsv"),sep="\t")

In [46]:
#df.iloc[:,[0,1,2,3,4,8]]
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'ANN[*].EFFECT', 'FILTER',
       'VARTYPE', 'GEN['TN1911D0108'].GT', 'GEN['TN1911D0108'].AD',
       'GEN['TN1911D0108'].DP', 'ANN[*].IMPACT', 'ANN[*].GENE',
       'ANN[*].FEATURE', 'ANN[*].FEATUREID', 'ANN[*].BIOTYPE', 'ANN[*].RANK',
       'ANN[*].HGVS_C', 'ANN[*].HGVS_P', 'ANN[*].CDNA_POS', 'ANN[*].CDNA_LEN',
       'ANN[*].CDS_POS', 'ANN[*].CDS_LEN', 'ANN[*].AA_POS', 'ANN[*].AA_LEN',
       'ANN[*].DISTANCE', 'GWASCAT_TRAIT', 'COSMID', 'CLNDISDB', 'ORIGIN',
       'CLNSIG', 'CLNDN', 'dbNSFP_Uniprot_acc', 'dbNSFP_Interpro_domain',
       'dbNSFP_SIFT_pred', 'dbNSFP_Polyphen2_HDIV_pred',
       'dbNSFP_Polyphen2_HVAR_pred', 'dbNSFP_LRT_pred',
       'dbNSFP_MutationTaster_pred', 'dbNSFP_GERP___NR', 'dbNSFP_GERP___RS',
       'dbNSFP_phastCons100way_vertebrate', 'dbNSFP_1000Gp1_AF',
       'dbNSFP_1000Gp1_AFR_AF', 'dbNSFP_1000Gp1_EUR_AF',
       'dbNSFP_1000Gp1_AMR_AF', 'dbNSFP_1000Gp1_ASN_AF',
       'dbNSFP_ESP6500_AA_AF', 'dbNSFP_ESP6500_EA_AF', 'EXAC_AC', 'EXAC_AN',
       'EXAC_AF'],
      dtype='object')

In [39]:
df = df.iloc[:,[0,1,2,3,4,8]] ##We dont need all columns so lets check
df.head()

  #CHROM    POS          ID REF ALT GEN['TN1911D0102'].GT
0   chr1  12783  rs62635284   G   A                   0/1
1   chr1  12783  rs62635284   G   A                   0/1
2   chr1  12783  rs62635284   G   A                   0/1
3   chr1  12783  rs62635284   G   A                   0/1
4   chr1  12783  rs62635284   G   A                   0/1

In [40]:
df = df.rename(columns = {df.columns[-1] :"GEN_"+data+"_case"})
df.head()

  #CHROM    POS          ID REF ALT GEN_1119_case
0   chr1  12783  rs62635284   G   A           0/1
1   chr1  12783  rs62635284   G   A           0/1
2   chr1  12783  rs62635284   G   A           0/1
3   chr1  12783  rs62635284   G   A           0/1
4   chr1  12783  rs62635284   G   A           0/1

In [41]:
df.to_csv("../snp_analysis/"+data+"_case.csv",index=False,encoding='utf-8',header=True)

### Thank You 
## ```krishdb38@gmail.com```