In [1]:
import os
import pandas as pd

In [2]:
!ls /BiO/Preterm/krishna_test/snp_small_files/

1009_case.csv	  1428_control.csv  1557_control.csv  875_case.csv
1134_control.csv  1477_control.csv  1584_case.csv     880_case.csv
1293_control.csv  1481_control.csv  1591_control.csv  910_case.csv
1389_control.csv  1489_case.csv     873_case.csv

### Make Automatic tools to make and save these files
We will call all above files and removed all lines in ID columns where ID == "."

In [62]:
file_names= os.listdir("/BiO/Preterm/krishna_test/snp_small_files/") #list for input

In [61]:
#remove the comments sections from below

In [60]:
"""#from tqdm import tqdm
#for data in tqdm(file_names):
    print("reading \t-->"+ data , end = " -->")
    df = pd.read_csv("/BiO/Preterm/krishna_test/snp_small_files/"+data,)
    index_name = df[df["ID"]=="."].index
    df.drop(index_name,inplace=True)
    df.to_csv(r"../snp_small_file/"+data,index=None,header =True)
    print(data + "Removed Successfully and saved")
print("All job done")"""

'#from tqdm import tqdm\n#for data in tqdm(file_names):\n    print("reading \t-->"+ data , end = " -->")\n    df = pd.read_csv("/BiO/Preterm/krishna_test/snp_small_files/"+data,)\n    index_name = df[df["ID"]=="."].index\n    df.drop(index_name,inplace=True)\n    df.to_csv(r"../snp_small_file/"+data,index=None,header =True)\n    print(data + "Removed Successfully and saved")\nprint("All job done")'

### again upload all files and make a single file

In [63]:
data ="1009_case.csv"

In [66]:
df1 = pd.read_csv("/BiO/Preterm/krishna_test/snp_small_file/"+data)

In [65]:
df2 = pd.read_csv("/BiO/Preterm/krishna_test/snp_small_file/"+"1557_control.csv")

In [67]:
df1.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'GEN_1009'], dtype='object')

In [78]:
df1[df1["GEN_1009"]=="1/1"].count()

#CHROM      1854868
POS         1854868
ID          1854868
REF         1854868
ALT         1854868
GEN_1009    1854868
dtype: int64

In [77]:
df2[df2["GEN_1557"]=="1/1"].count()

#CHROM      1838441
POS         1838441
ID          1838441
REF         1838441
ALT         1838441
GEN_1557    1838441
dtype: int64

In [81]:
df1[df1["ID"]=="rs2963463"]

        #CHROM        POS         ID REF ALT GEN_1009
1550471   chr5  157895049  rs2963463   T   C      0/1