In [1]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv("../control_snp_new1.csv",nrows=1000,dtype={"1cn":object ,'2cn':object,"3":object})#,dtype={"CHROM":str ,'POS': int,"SnP_x":str,"SnP_y":str,"SnP":str},\
                # low_memory = False,)

In [55]:
df.head()

  CHROM    POS REF  1cn  2cn  3cn  SNP
0  chr1  12650   A  A/A  NaN  NaN  NaN
1  chr1  12672   C  C/C  NaN  NaN  NaN
2  chr1  12682   C  C/C  NaN  NaN  NaN
3  chr1  12686   G  G/G  NaN  NaN  NaN
4  chr1  12705   T  T/T  NaN  NaN  NaN

In [35]:
df["1cn"]

0      A/A
1      C/C
2      C/C
3      G/G
4      T/T
      ...
995    T/T
996    T/T
997    T/T
998    C/C
999    T/T
Name: 1cn, Length: 1000, dtype: object

In [60]:
#df["SNP"] = df["1cn"]+","+df["2cn"]+","+df["3cn"]
#df = df.iloc[:,[0,1,-1]]
#df.head()
#df.dtypes

df["SNP"] = df.iloc[:,3:-1].apply(lambda x: ",".join(x.astype(str)),axis=1)

  CHROM    POS REF  1cn  2cn  3cn          SNP
0  chr1  12650   A  A/A  NaN  NaN  A/A,nan,nan
1  chr1  12672   C  C/C  NaN  NaN  C/C,nan,nan
2  chr1  12682   C  C/C  NaN  NaN  C/C,nan,nan
3  chr1  12686   G  G/G  NaN  NaN  G/G,nan,nan
4  chr1  12705   T  T/T  NaN  NaN  T/T,nan,nan

In [ ]:
df[df.POS==10492]

In [ ]:
test = df.head(100)

In [ ]:
test.head()

In [ ]:
#test.drop(index=2,inplace=True)
test.head(2)

In [ ]:
#df1 = pd.DataFrame(columns=["CHROM","POS","REF"]) #These Case data does not have Pos so 
df1 = pd.DataFrame(columns=["CHROM","POS"])

In [ ]:
#shape = df.shape[0]
test = np.array(df)

In [ ]:
test[10]

## Low Memory Causing the Problem

In [ ]:
#Create a New DF and Remove Existing
for i in range(shape):
    #print(i,end="#")
    #df.loc[i,"SNP"] = str(df.loc[i,"SnP_x"])+","+str(df.loc[i,"SnP_y"])+','+str(df.loc[i,"SnP_y"])+',' 
    df1.loc[i,["CHROM"]] = df.loc[i,["CHROM"]]
    df1.loc[i,["POS"]] = df.loc[i,["POS"]]
    #df1.loc[i,[""]]
    df1.loc[i,"SNP"] =  str(df.loc[i,"SnP_x"])+","+str(df.loc[i,"SnP_y"])+','+str(df.loc[i,"SnP_y"])+',' 
    df.drop(index=i,inplace=True)

In [ ]:
df1.head()

In [ ]:
test.head()
test1.head()

In [ ]:
#test.head()
df.head()

In [ ]:
df = df.iloc[:,[0,1,-1]]
#test.head()