In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../preterm_analysis/fisher_model_p_lt05.csv")

In [4]:
df.head()

   CHR        SNP A1 A2  TEST         AFF   UNAFF         P
0   13  rs7332016  G  C  GENO  2000-02-25  0/20/9  0.000002
1   13  rs7332016  G  C   DOM        25-2    20-9  0.000002
2   13  rs9560058  C  A  GENO  2000-02-25  0/20/9  0.000002
3   13  rs9560058  C  A   DOM        25-2    20-9  0.000002
4   13  rs9560059  G  C  GENO  2000-02-25  0/20/9  0.000002

In [14]:
df.to_excel("../preterm_analysis/fisher_model_p_.xlsx",sheet_name="fisher",index=False)

In [10]:
df.dtypes

CHR        int64
SNP       object
A1        object
A2        object
TEST      object
AFF       object
UNAFF     object
P        float64
dtype: object