In [1]:
import pandas as pd
import numpy as np
import os
import tqdm

## For loop to Convert VCF to CSV

In [2]:
#Since Computer Take Long Time so we divide data in 10 10 
path = "/BiO/Preterm/raw_data/"
files = os.listdir(path)
files1 = files[:10]   #First 10 files
files2 = files[10:20]  #Last 10 Files

In [3]:
print(files1)
files2

['873', '875', '880', '910', '1009', '1134', '1293', '1389', '1428', '1477']

['1481', '1489', '1557', '1584', '1591', '989', '1093', '1119', '1282', '1316']

In [5]:
import tqdm
path = "/BiO/Preterm/raw_data/"
col = ['CHROM', 'POS', 'REF', 'ALT', 'FILTER', 'SNP']

for file in tqdm.tqdm(files2): #Change Files1 and 2
    file_list =  os.listdir(path+file+ "/")
    
    if (file+".csv") in file_list:
        print("\nFile already Exist",file+".csv")
        print("Remove this Manually if you want do Again...\n")
        pass
        #We did this becasuse system took around 30 Min for 1 File 
    elif (file+".vcf") in file_list:
        print(file +".vcf", end="\t")
        df = pd.read_csv(path+file+"/"+file+".vcf", comment="#",sep="\t",header=None,low_memory = False)
        df = df.iloc[:,[0,1,3,4,6,9]]
        df.columns = col
        df = df[df["FILTER"]=="PASS"]
        df = df.drop(["FILTER"],axis=1)
        df["SNP"]= df["SNP"].apply(lambda x: x[:3] if(x[1]=="/") else ".")
        df.to_csv(path+file+"/"+file+".csv",index=False)
        print(file+".csv Done")
    else:
        print("VCF File Not Found is directory")

100%|██████████| 10/10 [00:00<00:00, 1617.55it/s]

File already Exist 1481.csv
Remove this Manually if you want do Again...


File already Exist 1489.csv
Remove this Manually if you want do Again...


File already Exist 1557.csv
Remove this Manually if you want do Again...


File already Exist 1584.csv
Remove this Manually if you want do Again...


File already Exist 1591.csv
Remove this Manually if you want do Again...


File already Exist 989.csv
Remove this Manually if you want do Again...


File already Exist 1093.csv
Remove this Manually if you want do Again...


File already Exist 1119.csv
Remove this Manually if you want do Again...


File already Exist 1282.csv
Remove this Manually if you want do Again...


File already Exist 1316.csv
Remove this Manually if you want do Again...

In [7]:
#df = pd.read_csv("/BiO/Preterm/raw_data/1009/1009.vcf",comment="#",sep="\t",low_memory = False,header=None)

In [34]:
df.head(2)

   CHROM    POS REF ALT  SNP
86  chr1  12626   C   .  0/0
88  chr1  12660   A   .  0/0

In [35]:
#test = df.head(10)

In [15]:
#test =test.iloc[:,[0,1,3,4,6,9]]
#df = df.iloc[:,[0,1,3,4,6,9]]

In [ ]:
#df.iloc[:,[0,1,3]]

In [10]:
#df.shape

In [36]:
test.head(2)

   CHROM    POS REF ALT  SNP
86  chr1  12626   C   .  0/0
88  chr1  12660   A   .  0/0

In [37]:
df.columns

Index(['CHROM', 'POS', 'REF', 'ALT', 'SNP'], dtype='object')

In [9]:
test = df.head(100)

In [9]:
col = ['CHROM', 'POS', 'REF', 'ALT', 'FILTER', 'SNP']

In [38]:
#test.columns = col
#test.head()
#df.columns = col
#df.head()

In [40]:
df.head(2)

   CHROM    POS REF ALT  SNP
86  chr1  12626   C   .  0/0
88  chr1  12660   A   .  0/0

In [28]:
#test[test["Filter"]=="PASS"]
df = df[df["FILTER"]=="PASS"]
df.shape

(243489072, 6)

In [41]:
df.head(2)

   CHROM    POS REF ALT  SNP
86  chr1  12626   C   .  0/0
88  chr1  12660   A   .  0/0

In [30]:
#test = df.head(50)

#test["SNP"] = test["SNP"].apply(lambda x: x[:3])

#test.head()
#df["SnP"]= df["SNP"].apply(lambda x: x[:3] if(x[1]=="/") else ".")

df["SNP"] = df["SNP"].apply(lambda x: x[:3])
df.head()
#df.to_csv("/BiO/Preterm/raw_data/1009/1009.csv",index=False)

/home/albatross/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   CHROM    POS REF ALT FILTER  SNP
86  chr1  12626   C   .   PASS  0/0
88  chr1  12660   A   .   PASS  0/0
90  chr1  12673   G   .   PASS  0/0
91  chr1  12697   T   .   PASS  0/0
92  chr1  12783   G   A   PASS  0/1

In [33]:
test = df.head(500)
test.head()
test = test.drop(["FILTER"],axis=1)
test.head()
df = df.drop(["FILTER"],axis=1)
df.head()

   CHROM    POS REF ALT  SNP
86  chr1  12626   C   .  0/0
88  chr1  12660   A   .  0/0
90  chr1  12673   G   .  0/0
91  chr1  12697   T   .  0/0
92  chr1  12783   G   A  0/1