In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../case_control.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
df.shape

(11176568, 24)

In [4]:
df.head()

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
1,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
2,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
3,chrM,199,.,T,NaN,NaN,NaN,NaN,C/C,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN
4,chrM,200,.,A,G/G,NaN,NaN,NaN,NaN,NaN,...,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.sort_values(by=["POS","ID"])

In [21]:
df = df.reset_index(drop=True)

In [22]:
df.head()

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,146,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [25]:
df.to_csv("../snp_analysis/merged_files/case_control_merged_index_reset.csv",index=False,encoding="utf-8")

In [26]:
df = pd.read_csv("../snp_analysis/merged_files/case_control_merged_index_reset.csv")

In [29]:
df.shape

(11176568, 24)

In [ ]:
df.head