In [2]:
import pandas as pd
import numpy as np
import os
import sys

In [3]:
#path = "/BiO/Preterm/raw_data/"
#files = os.listdir(path) #Last 10 Files
#files
control =[1093,1134,1293,1316,1389,1428,1477,1481,1557,1591]
case = [1119,910,873,1489,989,880,1282,1584,875,1009]
str(case[1])

'910'

In [4]:
files = ['873','875','880','910','1009','1134','1293','1389','1428','1477','1481','1489',\
         '1557','1584','1591','989','1093','1119','1282','1316']

## For Loop to do all Task Once

In [66]:
cs = cn =10
i=j=1
path = "/BiO/Preterm/raw_data/"
case_merged = pd.DataFrame(columns=["CHROM","POS","REF","ALT"])
control_merged = pd.DataFrame(["CHROM","POS","REF","ALT"])
for file in case:
        print(file,"Loading case","Remaining",cs)
        df = pd.read_csv(path+file+"/"+file+"_snp.csv",usecols=["CHROM","POS","REF","ALT","SnP"])
        df = df.rename(columns={'SnP': (str(i)+"cs")});i+=1                        
        case_merged = pd.merge(case_merged,df,how="outer",on=['CHROM', 'POS', 'REF',"ALT"])
        case_merged = case_merged.sort_values('POS', ascending=True) #If this took long time then do Outside
        cs-=1

#case_merged = case_merged.sort_values('POS', ascending=True)                                   
case_merged.to_csv(path+"case_snp_new.csv",index=False) 
#While case_merged Complete lets Freee Memory
df=case_merged = Null                               
for file in control:
        print(file,"Loading Control","Remaining",cn)
        df = pd.read_csv(path+file+"/"+file+"_snp.csv",usecols=["CHROM","POS","REF","ALT","SnP"])
                                    
        df = df.rename(columns={'SnP': (str(i)+"cn")});i+=1 #Increase by 1 and label the                        
        control_merged = pd.merge(control_merged,df,how="outer",on=['CHROM', 'POS', 'REF',"ALT"])
        control_merged = control_merged.sort_values('POS', ascending=True)#If this took long time then do Outside
        cn-=1
#control_merged = control_merged.sort_values('POS', ascending=True)
control_merged.to_csv(path+"control_snp_new.csv",index=False)
#control_merged=Null
print(cs , cn)

1119 Loading case Remaining 10
910 Loading case Remaining 9
873 Loading case Remaining 8
1489 Loading case Remaining 7
989 Loading case Remaining 6
880 Loading case Remaining 5
1282 Loading case Remaining 4
1584 Loading case Remaining 3
875 Loading case Remaining 2
1009 Loading case Remaining 1
1093 Loading Control Remaining 10
1134 Loading Control Remaining 9
1293 Loading Control Remaining 8
1316 Loading Control Remaining 7
1389 Loading Control Remaining 6
1428 Loading Control Remaining 5
1477 Loading Control Remaining 4
1481 Loading Control Remaining 3
1557 Loading Control Remaining 2
1591 Loading Control Remaining 1
0 0

In [70]:
#df1 = pd.read_csv("../1389_snp.csv",usecols=["CHROM","POS","REF","ALT","SnP"] , nrows=1000)

In [71]:
#df1.head()

In [72]:
df1 = pd.read_csv("../1389_snp.csv",usecols=["CHROM","POS","REF","ALT","SnP"] , nrows=10000)
df1 = df1.rename(columns={'SnP': (str(1)+"cs")})
df1.head()

  CHROM    POS REF ALT  1cs
0  chr1  12654   C   .  C/C
1  chr1  12671   A   .  A/A
2  chr1  12689   C   .  C/C
3  chr1  12707   C   .  C/C
4  chr1  12737   A   .  A/A

In [73]:
df2 = pd.read_csv("../1428_snp.csv",usecols=["CHROM","POS","REF","ALT","SnP"] , nrows=10000)
df2 = df2.rename(columns={'SnP': (str(2)+"cs")})
df2.head()

  CHROM    POS REF ALT  2cs
0  chr1  12675   C   .  C/C
1  chr1  12680   G   .  G/G
2  chr1  12685   G   .  G/G
3  chr1  12705   T   .  T/T
4  chr1  12762   C   .  C/C

In [74]:
merged = pd.DataFrame(columns=["CHROM","POS","REF","ALT"])
merged

Empty DataFrame
Columns: [CHROM, POS, REF, ALT]
Index: []

In [76]:
merged = pd.merge(df1,df2,how="outer",on=['CHROM', 'POS', 'REF',"ALT"])
merged = merged.sort_values('POS', ascending=True)
merged.isna().sum()

CHROM       0
POS         0
REF         0
ALT         0
1cs      8866
2cs      8866
dtype: int64

In [77]:
merged.shape

(18866, 6)

In [79]:
#df1.head(10)
df1.shape

(10000, 5)

In [80]:
df2.shape

(10000, 5)

In [84]:
df2.head(10)

  CHROM    POS REF ALT  2cs
0  chr1  12675   C   .  C/C
1  chr1  12680   G   .  G/G
2  chr1  12685   G   .  G/G
3  chr1  12705   T   .  T/T
4  chr1  12762   C   .  C/C
5  chr1  12763   T   .  T/T
6  chr1  12765   G   .  G/G
7  chr1  12783   G   A  G/A
8  chr1  12784   T   .  T/T
9  chr1  12808   G   .  G/G

In [81]:
df1.head()

  CHROM    POS REF ALT  1cs
0  chr1  12654   C   .  C/C
1  chr1  12671   A   .  A/A
2  chr1  12689   C   .  C/C
3  chr1  12707   C   .  C/C
4  chr1  12737   A   .  A/A

In [83]:
merged.head(10)

      CHROM    POS REF ALT  1cs  2cs
0      chr1  12654   C   .  C/C  NaN
1      chr1  12671   A   .  A/A  NaN
10000  chr1  12675   C   .  NaN  C/C
10001  chr1  12680   G   .  NaN  G/G
10002  chr1  12685   G   .  NaN  G/G
2      chr1  12689   C   .  C/C  NaN
10003  chr1  12705   T   .  NaN  T/T
3      chr1  12707   C   .  C/C  NaN
4      chr1  12737   A   .  A/A  NaN
10004  chr1  12762   C   .  NaN  C/C

In [8]:
#df has no Col SnP so 
def snp_new_col(df):
    if (df["SNP"]=="0/0"):
        return (str(df["REF"])+"/"+str(df["REF"]))
    elif ((df["SNP"]=="0/1") or (df["SNP"]=="1/2")):
        return (str(df["REF"])+"/"+str(df["ALT"]))
    elif (df["SNP"]=="1/1"):
        return (str(df["ALT"]+"/"+str(df["ALT"])))
    else:
        return (str(df["REF"])+"/"+str(df["ALT"]))

In [12]:
#df1["SnP"] = df1.apply (lambda x : snp_new_col(x),axis=1)
#df2["SnP"] = df2.apply (lambda x : snp_new_col(x),axis=1)
#df[df.SNP == "1/2"]
print(df1.head(2))
print("\n")
print(df2.head(2))

  CHROM    POS REF ALT  SNP  SnP
0  chr1  12630   G   .  0/0  G/G
1  chr1  12633   T   .  0/0  T/T


  CHROM    POS REF ALT  SNP  SnP
0  chr1  12664   G   .  0/0  G/G
1  chr1  12670   G   C  0/1  G/C

In [13]:
#df1.columns
df1 =df2.loc[:,['CHROM', 'POS', 'REF', 'SnP']]
df2 =df2.loc[:,['CHROM', 'POS', 'REF', 'SnP']]

In [21]:
df1.columns = ['CHROM', 'POS', 'REF', 'Snp_1']
df2.columns = ['CHROM', 'POS', 'REF', 'Snp_2']
#== df2.columns

In [23]:
df_merged = pd.DataFrame()
df_merged

Empty DataFrame
Columns: []
Index: []

In [46]:
test = df_merged.sort_values('POS', ascending=True)
test.shape
#est = df.sort('one', ascending=False)

(10004, 5)

In [27]:
#df_merged = pd.merge(df1,df2,how="outer",on=['CHROM', 'POS', 'REF'])
df_merged.shape

(10004, 5)

In [52]:
test[test.Snp_1!=test.Snp_2] #Compare 2 Data Set

     CHROM     POS REF     Snp_1     Snp_2
1579  chr1   55249   C  C/CTATGG       C/C
1578  chr1   55249   C       C/C  C/CTATGG
9380  chr1  252367   G       G/G      G/GA
9381  chr1  252367   G      G/GA       G/G

In [40]:
df1.tail()

     CHROM     POS REF Snp_1
9995  chr1  524836   T   T/T
9996  chr1  524855   C   C/C
9997  chr1  524866   T   T/T
9998  chr1  524890   C   C/C
9999  chr1  524918   G   G/G

In [119]:
df.to_csv("../test1.csv",index=False)

In [121]:
df1.head()

  CHROM    POS REF  SnP
0  chr1  12630   G  G/G
1  chr1  12633   T  T/T
2  chr1  12637   C  C/C
3  chr1  12654   C  C/C
4  chr1  12684   T  T/T

In [55]:
#df = df.iloc[:1000000,:]
df1.head()

  CHROM    POS REF ALT  SNP  SnP
0  chr1  12630   G   .  0/0  G/G
1  chr1  12633   T   .  0/0  T/T
2  chr1  12637   C   .  0/0  C/C
3  chr1  12654   C   .  0/0  C/C
4  chr1  12684   T   .  0/0  T/T

In [48]:
df.shape

(1000000, 5)

In [41]:
#Creating A Function to speed the Task
def snp_new_col(df):
    if df["SNP"]=="0/0":
        return (str(df["REF"])+"/"+str(df["REF"]))
    elif df["SNP"]=="0/1":
        return (str(df["REF"])+"/"+str(df["ALT"]))
    elif df["SNP"]=="1/1":
        return (str(df["ALT"]+"/"+str(df["ALT"])))
    else:
        return (str(df["REF"]+"/"+str(df["ALT"])))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
df.head()

  CHROM    POS REF ALT  SNP  SnP
0  chr1  12630   G   .  0/0  G/G
1  chr1  12633   T   .  0/0  T/T
2  chr1  12637   C   .  0/0  C/C
3  chr1  12654   C   .  0/0  C/C
4  chr1  12684   T   .  0/0  T/T

In [52]:
df[df.SNP == "1/1"]

       CHROM       POS REF ALT  SNP    SnP
361     chr1     15274   A   G  1/1    G/G
464     chr1     15903   G  GC  1/1  GC/GC
1098    chr1     49298   T   C  1/1    C/C
1148    chr1     51803   T   C  1/1    C/C
1280    chr1     55164   C   A  1/1    A/A
...      ...       ...  ..  ..  ...    ...
997341  chr1  14052895   G   C  1/1    C/C
997983  chr1  14062433   A   C  1/1    C/C
998378  chr1  14067851   A   G  1/1    G/G
998949  chr1  14075529   G   T  1/1    T/T
999346  chr1  14080223   T   C  1/1    C/C

[7185 rows x 6 columns]

In [ ]:
#df.apply (lambda row: label_race(row), axis=1)
#Function to apply