In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("../case_control.csv",low_memory=False)

In [10]:
df1 = df1.sort_values(by=["POS","ID"])

In [7]:
df1.shape

(11176568, 24)

In [13]:
df1 = df1.reset_index(drop=True)

In [14]:
df1.head()

,#CHROM,POS,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,146,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [16]:
col = ['CHROM', 'POS', 'ID', 'REF', '1c', '2c',
       '3c', '4c', '5c',
       '6c', '7c', '8c',
       '9c', '10c', '1cn',
       '2cn', '3cn', '4cn',
       '5cn', '6cn', '7cn',
       '8cn', '9cn', '10cn']

In [17]:
df1.columns= col

In [19]:
df1.to_csv("../case_con_mer.csv",index=False , encoding="utf-8")

In [ ]:
df1 = pd.read_csv("case_con_mer.csv")