In [1]:
import pandas as pd
import numpy as np

In [10]:
#df1 =0
df1  = pd.read_csv("../case_snp.csv",low_memory =False,)
df2 = pd.read_csv("../control_snp.csv",low_memory = False )

In [ ]:
#check the Columns

In [20]:
#og_col = list(df1.columns)

In [25]:
rename_col = ['CHROM','POS','ID',  'REF', '1', '2','3', '4', '5', '6', '7', '8', '9', '10']

In [26]:
df1.columns = rename_col
df2.columns = rename_col

In [27]:
df1.head()

  CHROM  POS ID REF    1    2    3    4    5    6    7    8    9   10
0  chrM  150  .   T  C/C  C/C  C/C  NaN  NaN  NaN  NaN  C/C  C/C  NaN
1  chrM  152  .   T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN  NaN
2  chrM  195  .   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  NaN
3  chrM  199  .   T  NaN  NaN  NaN  NaN  C/C  NaN  C/C  NaN  NaN  NaN
4  chrM  200  .   A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  G/G  NaN  NaN

In [28]:
df2.head()

   CHROM  POS ID REF    1    2    3    4    5    6    7    8    9   10
0   chrM  146  .   T  NaN  C/C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   chrM  150  .   T  C/C  C/C  C/C  C/C  C/C  NaN  C/C  NaN  NaN  NaN
2   chrM  152  .   T  NaN  NaN  C/C  NaN  NaN  NaN  C/C  NaN  NaN  C/C
3  chr17  169  .   C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/G  NaN
4   chrM  183  .   A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  G/G

In [30]:
#Lets arrange the data 
# "POS" in the begining and "Second" and "CHROM" third Position
position_col = ['POS','ID', 'CHROM', 'REF', '1', '2','3', '4', '5', '6', '7', '8', '9', '10']
df1 = df1[position_col]
df2 = df2[position_col]

In [ ]:
#We Need to make Col Name so Data Comparison is Easy

In [36]:
df1.head()

   POS ID CHROM REF    1    2    3    4    5    6    7    8    9   10
0  150  .  chrM   T  C/C  C/C  C/C  NaN  NaN  NaN  NaN  C/C  C/C  NaN
1  152  .  chrM   T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN  NaN
2  195  .  chrM   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  NaN
3  199  .  chrM   T  NaN  NaN  NaN  NaN  C/C  NaN  C/C  NaN  NaN  NaN
4  200  .  chrM   A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  G/G  NaN  NaN

In [34]:
df2.head()

   POS ID  CHROM REF    1    2    3    4    5    6    7    8    9   10
0  146  .   chrM   T  NaN  C/C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  150  .   chrM   T  C/C  C/C  C/C  C/C  C/C  NaN  C/C  NaN  NaN  NaN
2  152  .   chrM   T  NaN  NaN  C/C  NaN  NaN  NaN  C/C  NaN  NaN  C/C
3  169  .  chr17   C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/G  NaN
4  183  .   chrM   A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  G/G

In [42]:
df1

   POS ID CHROM REF    1    2    3    4    5    6    7    8    9   10
0  150  .  chrM   T  C/C  C/C  C/C  NaN  NaN  NaN  NaN  C/C  C/C  NaN
1  152  .  chrM   T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN  NaN
2  195  .  chrM   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  NaN
3  199  .  chrM   T  NaN  NaN  NaN  NaN  C/C  NaN  C/C  NaN  NaN  NaN
4  200  .  chrM   A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  G/G  NaN  NaN

In [43]:
# Since the NAN values are to much so we Need to Remove data having more than3 NAN among 10 datas
df1_na = df1[df1.isnull().sum(axis=1) < 3]
df2_na =df2[df2.isnull().sum(axis=1) < 3]

In [48]:
df1_na.shape, df2_na.shape #We Reduced Data Frame too small

((2325997, 14), (2315609, 14))

In [50]:
#Comparing two data Frame
# To Compare we use pandas isin() Function of Panda
#df1 is Case data and df2 is Control data

#Datas exist in df1 but not in df2
#f1_p= [~df1["POS"].isin(df2["POS"])]  #data is in df1 exist but not exist in df2 'POS' Col
#f2_p = [~df2["POS"].isin(df1["POS"])] #data is in df1 but not in df2 According to POS

#f1_i = [~df1["ID"].isin(df2["ID"])]  # ~ neg data is in df2 but not in df1 according to ID 
#d2_i = [~df2["ID"].isin(df1["ID"])]  #Display False i.e data exist only in df2 but not in 

#df1_n =df1[~df1["ID"].isin(df2["ID"])]

In [54]:
df2_na.shape

(2315609, 14)

In [53]:
#df1[~df2["ID"].isin(df1["ID"])]
#df1_na[~df1_na["ID"].isin(df2_na["ID"])]
df2_na[~df2_na["ID"].isin(df1_na["ID"])]

,POS,ID,CHROM,REF,1,2,3,4,5,6,7,8,9,10
175,11631,rs7235758,chr18,G,G/C,G/C,NaN,G/C,G/C,G/C,G/C,NaN,C/C,C/C
195,11880,rs138143518,chr8,C,C/T,NaN,C/T,C/T,T/T,C/T,NaN,T/T,C/T,T/T
267,13461,rs9946619,chr18,C,C/G,C/G,C/G,C/G,G/G,C/G,C/G,C/G,C/G,C/G
277,13754,rs7227876,chr18,A,A/T,A/T,A/T,A/T,T/T,A/T,A/T,A/T,A/T,A/T
278,13774,rs141677900,chr4,T,T/G,T/G,NaN,T/G,T/G,T/G,NaN,T/G,T/G,T/G
280,13868,rs12605992,chr18,G,G/A,G/A,NaN,G/A,G/A,G/A,G/A,G/A,G/A,G/A
342,14907,rs79585140,chr1,A,A/G,A/G,A/G,A/G,NaN,A/G,NaN,A/G,A/G,A/G
344,14930,rs75454623,chr1,A,A/G,A/G,A/G,A/G,NaN,A/G,NaN,A/G,A/G,A/G
545,21073,rs200668830,chr9,C,C/A,C/A,C/A,C/A,C/A,NaN,NaN,C/A,C/A,C/A
844,35333,rs2780435;rs28795209,chr4,G,G/A,G/A,G/A,G/A,G/A,G/A,G/A,A/A,G/A,NaN
1176,46796,rs202221436;rs9439390,chr8,T,T/G,NaN,T/G,T/G,T/G,T/G,T/G,T/G,G/G,T/G
1301,51225,rs4890186,chr17,T,C/C,C/C,C/C,C/C,C/C,C/C,T/C,C/C,T/C,C/C
1315,51803,rs62637812,chr1,T,T/C,T/C,C/C,T/C,T/C,T/C,C/C,T/C,T/C,T/C
1374,53935,rs55685325,chr18,T,T/C,T/C,T/C,T/C,NaN,C/C,C/C,C/C,C/C,C/C
1683,62746,rs13073823,chr3,C,C/G,C/G,NaN,C/G,C/G,C/G,C/G,C/G,G/G,G/G
1684,62759,rs34815673,chr3,A,A/C,A/C,NaN,A/C,A/C,A/C,A/C,A/C,C/C,C/C
1722,63735,rs201888535;rs61158452,chr1,CCTA,CCTA/C,CCTA/C,NaN,CCTA/C,C/C,CCTA/C,C/C,CCTA/C,CCTA/C,CCTA/C
1742,64165,rs9311287,chr3,C,C/A,C/A,NaN,C/A,C/A,A/A,C/A,C/A,A/A,A/A
1835,66640,rs368745239,chr16,G,G/T,G/T,G/T,NaN,G/T,G/T,NaN,G/T,G/T,G/T
1847,66811,rs75271142,chr18,G,G/A,G/A,NaN,G/A,NaN,G/A,G/A,G/A,G/A,G/A
1866,67135,rs201109056,chr16,T,T/C,T/C,T/C,T/C,T/C,T/C,NaN,T/C,T/C,T/C
1873,67254,rs62031363,chr16,A,C/C,C/C,C/C,A/C,C/C,C/C,NaN,C/C,A/C,A/C
1906,68079,rs12631621,chr3,G,G/C,G/C,NaN,G/C,G/C,G/C,G/C,G/C,G/C,G/C
1910,68204,rs67723366,chr3,G,G/C,G/C,NaN,G/C,G/C,G/C,G/C,G/C,G/C,G/C
1914,68426,rs71306185,chr3,C,C/T,C/T,NaN,C/T,C/T,C/T,C/T,C/T,C/T,C/T
1915,68434,rs144746325,chr3,TAGAC,TAGAC/T,TAGAC/T,NaN,TAGAC/T,TAGAC/T,TAGAC/T,TAGAC/T,TAGAC/T,TAGAC/T,TAGAC/T
1923,68527,rs2779685,chr4,G,T/T,T/T,NaN,NaN,T/T,T/T,T/T,T/T,T/T,T/T
1932,68603,rs2859223,chr4,T,T/G,G/G,NaN,T/G,G/G,NaN,T/G,G/G,T/G,G/G
1975,69511,rs75062661,chr1,A,G/G,G/G,NaN,G/G,NaN,G/G,G/G,G/G,G/G,G/G
2061,71283,rs11128546,chr3,C,T/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9256605,248575436,rs6681871,chr1,T,C/C,T/C,C/C,T/C,C/C,C/C,T/C,C/C,T/C,NaN
9256614,248576540,rs28450166,chr1,C,T/T,C/T,T/T,C/T,T/T,T/T,C/T,T/T,C/T,NaN
9256660,248587909,rs75202780,chr1,CA,C/C,CA/C,C/C,CA/C,C/C,C/C,CA/C,C/C,CA/C,NaN
9256667,248589707,rs61832944;rs7364694,chr1,A,G/G,A/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G,A/G
9256678,248593614,rs4462183,chr1,C,G/G,C/G,G/G,C/G,G/G,G/G,C/G,G/G,C/G,NaN
9256679,248594098,rs28698445,chr1,A,G/G,A/G,G/G,A/G,G/G,G/G,A/G,G/G,A/G,NaN
9256689,248595517,rs79492055,chr1,TAGAG,T/T,TAGAG/T,T/T,TAGAG/T,T/T,T/T,TAGAG/T,T/T,TAGAG/T,NaN
9256700,248596504,rs6661146,chr1,C,A/A,C/A,A/A,C/A,A/A,A/A,NaN,A/A,A/A,NaN
9256722,248597835,rs116250126,chr1,C,NaN,C/G,NaN,C/G,C/G,C/G,C/G,C/G,C/G,C/G
9256723,248597909,rs140993549,chr1,T,T/TTG,T/TTG,NaN,T/TTG,T/TTG,T/TTG,T/TTG,T/TTG,T/TTG,NaN
9256729,248598231,rs111313361,chr1,C,NaN,C/CGGTGCCG,C/CGGTGCCG,NaN,C/CGGTGCCG,C/CGGTGCCG,C/CGGTGCCG,C/CGGTGCCG,C/CGGTGCCG,C/CGGTGCCG
9256781,248601830,rs75847385,chr1,C,NaN,C/T,C/T,C/T,NaN,C/T,C/T,C/T,C/T,C/T
9256870,248606836,rs139375837,chr1,A,A/AAG,A/AAG,A/AAG,A/AAG,NaN,A/AAG,A/AAG,NaN,A/AAG,A/AAG
9257029,248622066,rs66521852,chr1,GA,GA/G,GA/G,GA/G,NaN,GA/G,GA/G,GA/G,GA/G,NaN,GA/G
9257372,248689318,rs397770421;rs59325988,chr1,C,CA/CA,"CA,CAA/CA,CAA",C/CA,NaN,C/CA,C/CA,"CA,CAA/CA,CAA",CA/CA,CA/CA,CA/CA
9257375,248690014,rs34098303,chr1,TC,T/T,NaN,TC/T,T/T,TC/T,TC/T,NaN,T/T,TC/T,T/T
9257438,248710502,rs1938134,chr1,A,G/G,NaN,G/G,G/G,G/G,G/G,NaN,G/G,G/G,G/G
9257638,248755234,rs3030584,chr1,AATT,A/A,NaN,A/A,A/A,A/A,A/A,NaN,AATT/A,AATT/A,A/A
9257778,248795645,rs4359055,chr1,A,G/G,G/G,NaN,A/G,NaN,G/G,G/G,G/G,G/G,G/G
9257968,248815250,rs60008261,chr1,CTT,CTT/C,C/C,CTT/C,C/C,CTT/C,CTT/C,C/C,C/C,C/C,NaN
9258035,248820186,rs28521860,chr1,C,C/T,T/T,C/T,NaN,C/T,NaN,C/T,T/T,C/T,C/T
9258041,248820328,rs3114100,chr1,C,NaN,C/A,C/A,C/A,C/A,C/A,NaN,C/A,C/A,C/A
9258059,248821728,rs79577221,chr1,G,G/A,G/A,G/A,G/A,NaN,G/A,G/A,G/A,G/A,G/A
9258061,248821889,rs28835945,chr1,A,A/G,A/G,A/G,A/G,NaN,NaN,G/G,A/G,A/G,G/G
9258071,248822190,rs28874616,chr1,T,C/C,C/C,C/C,T/C,T/C,C/C,C/C,T/C,T/C,C/C
9258449,248907678,rs35731280,chr1,C,C/T,C/T,NaN,T/T,C/T,C/T,C/T,C/T,NaN,T/T
9258612,249110906,rs4926508,chr1,G,G/C,G/C,G/C,G/C,NaN,C/C,G/C,G/C,C/C,NaN
9258693,249139233,rs6684471,chr1,G,G/A,G/A,A/A,G/A,NaN,A/A,G/A,G/A,A/A,NaN
9258776,249172187,rs12071510,chr1,G,G/T,G/T,T/T,G/T,G/T,T/T,G/T,G/T,T/T,NaN
9258950,249239305,rs187125963,chr1,C,C/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T,NaN,C/T

### Below we will save Code with ID as

In [14]:
#df1.to_csv("../case_pos.csv",index=False)
#df2.to_csv("../control_pos.csv",index = False)

In [35]:
#df1  = pd.read_csv("../case_pos.csv",index_col =["POS"],low_memory =False,)
#df2 = pd.read_csv("../control_pos.csv",index_col=["POS"],low_memory = False )

In [31]:
df2.columns ==df1.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [51]:
#df['your_column_name'].isin(df2['your_column_name']).value_counts()
#df1.head()
#df1["ID"].isin(df2["ID"]).value_counts()
df1_n =df1[~df1["ID"].isin(df2["ID"])]

In [54]:
df2_n = df2[~df2["ID"].isin(df1["ID"])]

In [55]:
df2_n.shape

(1096438, 13)

In [56]:
df1_n.shape

(1096433, 13)

In [57]:
df1_n.head()

,ID,CHROM,REF,1,2,3,4,5,6,7,8,9,10
POS,,,,,,,,,,,,,
1867,rs144071449,chr17,C,NaN,NaN,NaN,NaN,C/T,NaN,NaN,NaN,NaN,NaN
2817,rs80215721,chr17,G,NaN,NaN,NaN,NaN,NaN,NaN,G/A,NaN,NaN,NaN
3315,rs146477792,chr17,G,NaN,NaN,NaN,G/C,NaN,NaN,NaN,NaN,NaN,NaN
10146,rs376016698,chr18,CT,NaN,NaN,NaN,NaN,NaN,CT/C,NaN,NaN,C/C,NaN
10479,rs201112607,chr9,G,NaN,NaN,NaN,NaN,G/C,NaN,NaN,NaN,NaN,NaN

In [58]:
df2_n.shape

(1096438, 13)

In [60]:
test1 = df1_n[df1_n.isnull().sum(axis=1) < 3]
test1.shape

(79, 13)

In [61]:
test2 = df2_n[df2_n.isnull().sum(axis=1)<3]
test2.shape

(95, 13)

In [70]:
len(test1.CHROM.unique())

20

In [69]:
len(test2.CHROM.unique())

15

In [35]:
df1.shape

(9250790, 13)

In [37]:
a.shape

(11259519, 24)

In [39]:
a.head(20)

,ID_x,CHROM,REF,1_x,2_x,3_x,4_x,5_x,6_x,7_x,...,1_y,2_y,3_y,4_y,5_y,6_y,7_y,8_y,9_y,10_y
POS,,,,,,,,,,,,,,,,,,,,,
150,.,chrM,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
152,.,chrM,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
195,.,chrM,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
199,.,chrM,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN
200,.,chrM,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,...,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,.,chrM,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,.,chrM,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,.,chrM,GA,NaN,G/G,G/G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,G/G,NaN,NaN,G/G,NaN,NaN,NaN
257,.,chrM,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,rs35998167,chr17,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,...,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
302,.,chrM,A,A/AC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
302,.,chrM,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
317,.,chrM,C,NaN,NaN,NaN,NaN,C/CGGGGG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,.,chrM,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
491,.,chrM,T,NaN,NaN,NaN,NaN,C/C,C/C,C/C,...,NaN,NaN,C/C,NaN,C/C,C/C,NaN,NaN,C/C,NaN
515,.,chrM,G,NaN,GCA/GCA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,.,chrM,GCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN,NaN
608,.,chrM,A,NaN,G/G,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,.,chrM,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,.,chrM,G,NaN,NaN,NaN,NaN,NaN,A/A,NaN,...,NaN,A/A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A/A

In [42]:
df1.head(10)

,ID,CHROM,REF,1,2,3,4,5,6,7,8,9,10
POS,,,,,,,,,,,,,
150,.,chrM,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
152,.,chrM,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN,NaN
195,.,chrM,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
199,.,chrM,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,NaN,NaN,NaN
200,.,chrM,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
214,.,chrM,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G
235,.,chrM,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN
247,.,chrM,GA,NaN,G/G,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,.,chrM,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,rs35998167,chr17,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA

In [43]:
df2.head(10)

    ID  CHROM REF    1    2    3    4    5    6    7    8    9   10
POS
146  .   chrM   T  NaN  C/C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
150  .   chrM   T  C/C  C/C  C/C  C/C  C/C  NaN  C/C  NaN  NaN  NaN
152  .   chrM   T  NaN  NaN  C/C  NaN  NaN  NaN  C/C  NaN  NaN  C/C
169  .  chr17   C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/G  NaN
183  .   chrM   A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  G/G
195  .   chrM   C  T/T  T/T  T/T  NaN  T/T  T/T  T/T  NaN  T/T  T/T
199  .   chrM   T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN
200  .   chrM   A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
247  .   chrM  GA  NaN  NaN  NaN  G/G  NaN  NaN  G/G  NaN  NaN  NaN
263  .   chrM   G  NaN  NaN  NaN  A/A  NaN  NaN  NaN  NaN  NaN  NaN

In [37]:
#test1 = df1[df1.isnull().sum(axis=1) < 7]
#test2 = df2[df2.isnull().sum(axis=1)<7]

In [70]:
case.iloc[~case.loc[2].isin[control.loc[2]]]

#new = data["Gender"].isin(["Male"])
#control[~control.isin(case)]

TypeError: 'method' object is not subscriptable

In [36]:
#df2[~df2.text.isin(df1.text)]
case_in_control =case[~case.isin(control)]
control_in_case = control[~control.isin(case)]