In [2]:
import pandas as pd
import numpy as np

In [6]:
#df1 =0
df1  = pd.read_csv("../case_snp.csv",low_memory =False)
df2 = pd.read_csv("../control_snp.csv",low_memory = False)

In [7]:
df1.shape

(9250790, 14)

In [8]:
df2.shape

(9258971, 14)

In [33]:
#df1 = df1.loc[~df1.index.duplicated(keep="first")]
#df1 = df1.loc[~df1.index.duplicated(keep="first")]

In [19]:
#df1.dropna().shape

In [20]:
df1.head()

,#CHROM,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
POS,,,,,,,,,,,,,
150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
152,chrM,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN,NaN
195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
199,chrM,.,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,NaN,NaN,NaN
200,chrM,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN

In [9]:
df2.head()

,#CHROM,POS,ID,REF,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
0,chrM,146,.,T,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chrM,150,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
2,chrM,152,.,T,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
3,chr17,169,.,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
4,chrM,183,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [41]:
df3.shape,df1.shape , df2.shape

((9226395, 26), (8737082, 13), (9258971, 13))

In [43]:
df3.head()

,#CHROM_x,ID_x,REF_x,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
POS,,,,,,,,,,,,,,,,,,,,,
150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
152,chrM,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
199,chrM,.,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN
200,chrM,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,...,G/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df1.head()

,#CHROM,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
POS,,,,,,,,,,,,,
150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
152,chrM,.,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,NaN,NaN
195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
199,chrM,.,T,NaN,NaN,NaN,NaN,C/C,NaN,C/C,NaN,NaN,NaN
200,chrM,.,A,G/G,NaN,NaN,NaN,NaN,NaN,NaN,G/G,NaN,NaN

In [45]:
df2.head()

,#CHROM,ID,REF,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
POS,,,,,,,,,,,,,
146,chrM,.,T,NaN,C/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,chrM,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
152,chrM,.,T,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
169,chr17,.,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/G,NaN
183,chrM,.,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G/G

In [15]:
df1 = df1[df1.isnull().sum(axis=1) < 8]
df2 = df2[df2.isnull().sum(axis =1)<8]
#df1[df1.isnull().sum(axis=1) < 7]

In [16]:
df1.shape, df2.shape

((5557625, 13), (5560533, 13))

In [22]:
df1 = df1.loc[~df1.index.duplicated(keep="first")]

In [23]:
df2 =  df2.loc[~df2.index.duplicated(keep="first")]

In [29]:
df1.head()

,#CHROM,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,GEN_989_case.csv,GEN_1119_case.csv,GEN_1282_case.csv
POS,,,,,,,,,,,,,
150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
302,chr17,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
410,chrM,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
491,chrM,.,T,NaN,NaN,NaN,NaN,C/C,C/C,C/C,NaN,NaN,NaN

In [24]:
df3= pd.concat([df1,df2],axis =1)

In [25]:
df3

,#CHROM,ID,REF,GEN_873_case.csv,GEN_875_case.csv,GEN_880_case.csv,GEN_910_case.csv,GEN_1489_case.csv,GEN_1584_case.csv,GEN_1009_case.csv,...,GEN_1134_control.csv,GEN_1293_control.csv,GEN_1389_control.csv,GEN_1428_control.csv,GEN_1477_control.csv,GEN_1481_control.csv,GEN_1557_control.csv,GEN_1591_control.csv,GEN_1093_control.csv,GEN_1316_control.csv
POS,,,,,,,,,,,,,,,,,,,,,
150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,...,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C/C,NaN,NaN,NaN,C/C,NaN,NaN,C/C
195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
302,chr17,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,...,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
410,chrM,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,...,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249239305,chr1,rs187125963,C,C/T,C/T,C/T,NaN,NaN,C/T,C/T,...,C/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T,NaN,C/T
249239465,chr1,rs183566754,T,T/G,T/G,T/G,NaN,T/G,T/G,T/G,...,T/G,T/G,NaN,T/G,NaN,T/G,NaN,T/G,T/G,T/G
249239796,chr1,.,CGGGTTCGGGTTCGGGGTTA,NaN,CGGGTTCGGGTTCGGGGTTA/C,CGGGTTCGGGTTCGGGGTTA/C,NaN,NaN,NaN,NaN,...,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,NaN
249240170,chr1,rs368828979,G,NaN,G/GT,G/GT,NaN,NaN,NaN,G/GT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249240217,chr1,.,G,G/GT,G/GT,G/GT,NaN,NaN,G/GGTT,NaN,...,G/GT,NaN,NaN,NaN,NaN,NaN,NaN,G/GT,NaN,G/GGTT

In [28]:
df3.columns

Index(['#CHROM', 'ID', 'REF', 'GEN_873_case.csv', 'GEN_875_case.csv',
       'GEN_880_case.csv', 'GEN_910_case.csv', 'GEN_1489_case.csv',
       'GEN_1584_case.csv', 'GEN_1009_case.csv', 'GEN_989_case.csv',
       'GEN_1119_case.csv', 'GEN_1282_case.csv', '#CHROM', 'ID', 'REF',
       'GEN_1134_control.csv', 'GEN_1293_control.csv', 'GEN_1389_control.csv',
       'GEN_1428_control.csv', 'GEN_1477_control.csv', 'GEN_1481_control.csv',
       'GEN_1557_control.csv', 'GEN_1591_control.csv', 'GEN_1093_control.csv',
       'GEN_1316_control.csv'],
      dtype='object')

In [27]:
df1.shape

(5429145, 13)

In [6]:
df3.shape()

NameError: name 'df3' is not defined

In [44]:
new_col = ['CHROM', 'ID', 'REF', '1', '2',
       '3', '4', '5',
       '6', '7', '8',
       '9', '10']

In [81]:
df1.columns = new_col

In [72]:
df2.columns= new_col

In [84]:
df1 = df1.reset_index()

In [87]:
df2 =df2.reset_index()

In [89]:
df1.shape

(9250790, 14)

In [90]:
df2.shape

(9258971, 14)

In [92]:
df3 = df1.merge(df2)

In [93]:
df3.shape

(465663, 14)

In [94]:
df1.shape

(9250790, 14)

In [96]:
df3.head()

    POS CHROM ID REF    1    2    3    4    5    6    7    8    9   10
0   410  chrM  .   A  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T
1  1444  chrM  .   G  A/A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  2354  chrM  .   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T
3  2485  chrM  .   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T
4  4613  chrM  .   T  C/C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [97]:
df1.head()

   POS CHROM ID REF    1    2    3    4    5    6    7    8    9   10
0  150  chrM  .   T  C/C  C/C  C/C  NaN  NaN  NaN  NaN  C/C  C/C  NaN
1  152  chrM  .   T  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/C  NaN  NaN
2  195  chrM  .   C  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  T/T  NaN
3  199  chrM  .   T  NaN  NaN  NaN  NaN  C/C  NaN  C/C  NaN  NaN  NaN
4  200  chrM  .   A  G/G  NaN  NaN  NaN  NaN  NaN  NaN  G/G  NaN  NaN

In [98]:
df2.head()

   POS  CHROM ID REF    1    2    3    4    5    6    7    8    9   10
0  146   chrM  .   T  NaN  C/C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  150   chrM  .   T  C/C  C/C  C/C  C/C  C/C  NaN  C/C  NaN  NaN  NaN
2  152   chrM  .   T  NaN  NaN  C/C  NaN  NaN  NaN  C/C  NaN  NaN  C/C
3  169  chr17  .   C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  C/G  NaN
4  183   chrM  .   A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  G/G

In [7]:
dft = df1.iloc[:,[0,1,2,3,4]]

In [23]:
dft.columns

Index(['CHROM', 'POS', 'ID', 'REF', 'GEN_873_case.csv'], dtype='object')

In [15]:
dft = dft.rename(columns = dft.iloc[0])

In [18]:
dft.columns = ['CHROM', 'POS', 'ID', 'REF', 'GEN_873_case.csv']

In [20]:
dft = dft.iloc[1:,:]

In [21]:
dft.head()

  CHROM  POS ID REF GEN_873_case.csv
1  chrM  150  .   T              C/C
2  chrM  152  .   T              NaN
3  chrM  195  .   C              T/T
4  chrM  199  .   T              NaN
5  chrM  200  .   A              G/G

In [22]:
dft.CHROM.value_counts()

chr2     736475
chr1     717180
chr4     649348
chr3     629512
chr6     586247
chr5     553889
chr7     529135
chr8     468451
chr10    454786
chr11    441385
chr12    427908
chr9     405901
chr13    328083
chr14    299053
chr16    287169
chrX     285089
chr15    276062
chr18    252258
chr17    249041
chr19    210541
chr20    192928
chr21    139823
chr22    128774
chrY       1590
chrM        162
Name: CHROM, dtype: int64

In [24]:
chromosomes = {k:v for k,v in dft.groupby("CHROM")}

In [26]:
chromosomes.keys()

dict_keys(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr2', 'chr20', 'chr21', 'chr22', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chrM', 'chrX', 'chrY'])

In [27]:
for i in chromosomes:
    chromosomes[i].sort_values(by="POS")

In [31]:
chromosomes["chr1"]

        CHROM        POS                      ID REF GEN_873_case.csv
142      chr1      10492              rs55998931   C              NaN
143      chr1      10492              rs55998931   C              NaN
290      chr1      12783              rs62635284   G              G/A
305      chr1      13116  rs201725126;rs62635286   T              T/G
306      chr1      13118             rs200579949   A              A/G
...       ...        ...                     ...  ..              ...
9250786  chr1  249240099                       .   T              NaN
9250787  chr1  249240170             rs368828979   G              NaN
9250788  chr1  249240217                       .   G             G/GT
9250789  chr1  249240248                       .   T              NaN
9250790  chr1  249240303                       .   T              NaN

[717180 rows x 5 columns]

## some Single SNP analysis (Based on research from SNPedia)

In [32]:
chromosomes.keys()

dict_keys(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr2', 'chr20', 'chr21', 'chr22', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chrM', 'chrX', 'chrY'])

In [36]:
dft.loc[dft.CHROM=="chrY"]

        CHROM       POS           ID REF GEN_873_case.csv
202809   chrY   2951712            .   T              NaN
203597   chrY   2961302  rs371970959   C              NaN
205183   chrY   2987865    rs9650930   A              NaN
208138   chrY   3028916    rs4623623   A              NaN
212626   chrY   3088019    rs2429630   C              NaN
...       ...       ...          ...  ..              ...
4081574  chrY  59033375   rs62604358   T              NaN
4081576  chrY  59033423            .   T              NaN
4081578  chrY  59033432   rs77423305   A              NaN
4081579  chrY  59033463   rs77812940   G              NaN
4081582  chrY  59033494            .   G              NaN

[1590 rows x 5 columns]

In [37]:
dft.loc[dft.ID.isin(["rs371970959","rs62604358",'rs1800401' ])]

        CHROM       POS           ID REF GEN_873_case.csv
203597   chrY   2961302  rs371970959   C              NaN
4081574  chrY  59033375   rs62604358   T              NaN

In [37]:
#test1 = df1[df1.isnull().sum(axis=1) < 7]
#test2 = df2[df2.isnull().sum(axis=1)<7]

In [40]:
test1.to_csv("case_1_na.csv",index=False)
test2.to_csv("control_2_na.csv",index=False)

In [60]:
case = pd.read_csv("case_1_na.csv")
control = pd.read_csv("control_2_na.csv")

In [61]:
case = case.iloc[:,1:]
control = control.iloc[:,1:]

In [62]:
control.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chrM,150,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
1,chrM,195,.,C,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
2,chrM,302,.,AC,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
3,chrM,302,.,A,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
4,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA

In [99]:
case_con_Pos =case[case.iloc[:,2].isin(control.iloc[:,2])]
case_con_Pos =case_con_Pos.iloc[:,[1,0,2,3,4,5,6,7,8,9,10,11,12,13]]

In [100]:
control_case_Pos = control[control.iloc[:,2].isin(control.iloc[:,2])]
control_case_Pos =control_case_Pos.iloc[:,[1,0,2,3,4,5,6,7,8,9,10,11,12,13]]

In [103]:
case_con_Pos.to_csv("case_con.csv", index=False,index_label=1,)

In [104]:
case_con_pos = pd.read_csv("case_con.csv")

In [105]:
case_con_Pos.head()

,1,0,2,3,4,5,6,7,8,9,10,11,12,13
0,150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
2,302,chr17,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
3,302,chrM,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
4,410,chrM,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [81]:
case_con_Pos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
2,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
3,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
4,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [83]:
control_case_P0s.shape , case_con_Pos.shape

((4738658, 14), (4129192, 14))

In [86]:
control_case_P0s.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chrM,150,.,T,C/C,C/C,C/C,C/C,C/C,NaN,C/C,NaN,NaN,NaN
1,chrM,195,.,C,T/T,T/T,T/T,NaN,T/T,T/T,T/T,NaN,T/T,T/T
2,chrM,302,.,AC,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
3,chrM,302,.,A,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
4,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
5,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
6,chrM,491,.,T,NaN,NaN,C/C,NaN,C/C,C/C,NaN,NaN,C/C,NaN
7,chr17,828,rs62053745,T,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C
8,chr17,834,rs9747082,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A
9,chr17,1869,rs62053748,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [90]:
case_con_Pos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chrM,150,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,chrM,195,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
2,chr17,302,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
3,chrM,302,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
4,chrM,410,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

,1,0,2,3,4,5,6,7,8,9,10,11,12,13
0,150,chrM,.,T,C/C,C/C,C/C,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,195,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,NaN
2,302,chr17,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
3,302,chrM,.,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
4,410,chrM,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
5,828,chr17,rs62053745,T,C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C
6,834,chr17,rs9747082,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
7,1869,chr17,rs62053748,A,T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T
8,2041,chr17,rs35054424,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
9,2220,chr17,rs17055023,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
10,2354,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
11,2485,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
12,2564,chr17,rs34245596,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
13,3587,chr17,rs8069278,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
14,3936,chr17,rs7213004,A,NaN,G/G,G/G,NaN,A/G,NaN,A/G,G/G,G/G,NaN
15,4966,chr17,rs2223138,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
16,5522,chr17,rs142302211;rs71143471,A,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT
17,5581,chrM,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
18,5687,chr17,rs4890175,C,T/T,T/T,T/T,T/T,C/T,T/T,T/T,T/T,T/T,T/T
19,6115,chr17,rs61739713,G,C/C,C/C,C/C,C/C,G/C,C/C,C/C,C/C,C/C,C/C
20,6157,chr17,rs2294076,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
21,6689,chr17,rs6565733,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
22,6888,chr17,rs1106175,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
23,7214,chr17,rs386442353;rs6420494,C,G/G,G/G,G/G,G/G,C/G,G/G,G/G,G/G,G/G,G/G
24,7242,chr17,rs6420495,G,T/T,T/T,T/T,T/T,G/T,T/T,T/T,T/T,T/T,T/T
25,7914,chr17,rs2894723,C,T/T,T/T,T/T,T/T,C/T,T/T,T/T,T/T,T/T,T/T
26,8547,chr17,rs2396789;rs386566426,T,C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C
27,8568,chr17,rs2894722,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
28,8702,chrM,.,G,A/A,A/A,NaN,A/A,NaN,NaN,NaN,A/A,NaN,A/A
29,9361,chr17,rs8081895,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731537,249168165,chr1,rs12032564,G,C/C,C/C,G/C,G/C,G/C,C/C,C/C,C/C,NaN,NaN
4731540,249168516,chr1,rs6672727,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4731541,249168610,chr1,rs6659450,C,T/T,T/T,C/T,C/T,C/T,T/T,T/T,T/T,NaN,NaN
4731545,249170320,chr1,rs12130210,G,G/A,G/A,NaN,NaN,G/A,NaN,NaN,G/A,NaN,NaN
4731546,249170711,chr1,rs10788875,G,T/T,T/T,G/T,G/T,G/T,T/T,T/T,T/T,NaN,NaN
4731547,249171879,chr1,rs4399196,C,C/T,C/T,C/T,C/T,T/T,NaN,NaN,C/T,C/T,T/T
4731548,249172187,chr1,rs12071510,G,NaN,NaN,G/T,G/T,G/T,NaN,NaN,NaN,G/T,T/T
4731549,249174650,chr1,rs4584434,A,C/C,C/C,A/C,NaN,A/C,A/C,A/C,A/C,NaN,NaN
4731550,249174682,chr1,rs4359061,G,A/A,A/A,G/A,NaN,G/A,G/A,G/A,G/A,NaN,NaN
4731561,249181149,chr1,rs4489602,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4731563,249182887,chr1,rs6697193;rs78930746,T,C/C,C/C,C/C,T/C,C/C,T/C,T/C,T/C,T/C,C/C
4731568,249186442,chr1,.,T,NaN,NaN,T/TTCCC,TTCCC/TTCCC,T/TTCCC,NaN,T/TTCCC,T/TTCCC,"TTCCC,TTCCCTCCCTCCC/TTCCC,TTCCCTCCCTCCC",T/TTCCC
4731569,249186472,chr1,.,CCCTTCCTT,CCCTTCCTT/C,CCCTTCCTT/C,CCCTTCCTT/C,NaN,CCCTTCCTT/C,CCCTTCCTT/C,CCCTTCCTT/C,NaN,NaN,NaN
4731575,249191706,chr1,rs4335411,G,A/A,A/A,A/A,G/A,A/A,G/A,G/A,G/A,G/A,A/A
4731587,249200876,chr1,.,G,NaN,NaN,NaN,NaN,NaN,G/GCGCCA,G/GCGCA,G/GGCCC,NaN,G/GGGGCCC
4731589,249201268,chr1,rs7544246,G,A/A,A/A,G/A,NaN,G/A,G/A,G/A,G/A,G/A,NaN
4731590,249202883,chr1,rs35383461;rs397747868,A,NaN,A/AT,A/AT,A/AT,A/AT,NaN,NaN,NaN,NaN,NaN
4731594,249205774,chr1,.,T,T/C,T/C,T/C,NaN,T/C,NaN,T/C,NaN,NaN,NaN
4731596,249205895,chr1,rs6691273,T,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C
4731597,249205928,chr1,rs6668044,C,C/T,C/T,C/T,C/T,C/T,C/T,NaN,C/T,NaN,C/T
4731598,249205937,chr1,rs6689768,G,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T
4731602,249208772,chr1,rs12025972,C,T/T,C/T,C/T,NaN,C/T,C/T,C/T,NaN,NaN,NaN
4731604,249209140,chr1,rs386471741;rs4926502,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4731609,249228843,chr1,.,AACACAC,AACACAC/A,NaN,NaN,NaN,AACACAC/A,NaN,NaN,NaN,"AACACACAC,A/AACACACAC,A",AACACAC/A
4731610,249229799,chr1,rs61838549,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,NaN,NaN
4731611,249232478,chr1,rs61838555,T,T/C,NaN,NaN,T/C,NaN,T/C,NaN,T/C,NaN,NaN
4731612,249232633,chr1,rs28783738,T,NaN,T/G,NaN,NaN,NaN,T/G,T/G,T/G,NaN,T/G
4731613,249239305,chr1,rs187125963,C,C/T,C/T,C/T,NaN,NaN,C/T,C/T,C/T,NaN,NaN
4731614,249239465,chr1,rs183566754,T,T/G,T/G,T/G,NaN,T/G,T/G,T/G,NaN,T/G,T/G
4731615,249240217,chr1,.,G,G/GT,G/GT,G/GT,NaN,NaN,G/GGTT,NaN,NaN,NaN,NaN

In [70]:
case.iloc[~case.loc[2].isin[control.loc[2]]]

#new = data["Gender"].isin(["Male"])
#control[~control.isin(case)]

TypeError: 'method' object is not subscriptable

In [36]:
#df2[~df2.text.isin(df1.text)]
case_in_control =case[~case.isin(control)]
control_in_case = control[~control.isin(case)]

In [38]:
case_in_control.shape

(4731616, 14)

In [40]:
control_in_case.shape

(4738658, 14)

In [43]:
control_in_case

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,C/C,NaN,C/C,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T/T
2,chrM,NaN,.,AC,NaN,NaN,NaN,NaN,AC/A,NaN,NaN,AC/A,AC/A,AC/A
3,NaN,NaN,NaN,A,NaN,A/AC,A/AC,A/AC,NaN,NaN,"AC,ACC/AC,ACC",NaN,NaN,NaN
4,chr17,302.0,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
5,chrM,410.0,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
6,chrM,491.0,.,T,NaN,NaN,C/C,NaN,C/C,C/C,NaN,NaN,C/C,NaN
7,NaN,828.0,rs62053745,T,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C
8,NaN,834.0,rs9747082,NaN,NaN,NaN,NaN,NaN,A/A,NaN,NaN,NaN,NaN,NaN
9,NaN,1869.0,rs62053748,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
10,chr17,2041.0,rs35054424,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A
11,chr17,2220.0,rs17055023,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A
12,chrM,2354.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
13,chrM,2485.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
14,NaN,2564.0,rs34245596,NaN,G/G,NaN,NaN,G/G,G/G,G/G,G/G,NaN,NaN,G/G
15,NaN,3587.0,rs8069278,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A
16,NaN,3936.0,rs7213004,NaN,G/G,G/G,G/G,NaN,G/G,NaN,NaN,A/G,G/G,G/G
17,chr17,3980.0,rs149494548,T,T/C,T/C,NaN,T/C,NaN,NaN,NaN,T/C,NaN,NaN
18,NaN,4966.0,rs2223138,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
19,NaN,5522.0,rs142302211;rs71143471,A,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT
20,chrM,5581.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
21,NaN,5687.0,rs4890175,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
22,NaN,6115.0,rs61739713,NaN,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,G/C,C/C
23,NaN,6157.0,rs2294076,A,NaN,NaN,NaN,NaN,G/G,NaN,NaN,NaN,A/G,NaN
24,NaN,6689.0,rs6565733,NaN,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,G/A,A/A
25,NaN,6888.0,rs1106175,G,A/A,A/A,A/A,A/A,A/A,A/A,A/A,A/A,G/A,A/A
26,NaN,7214.0,rs386442353;rs6420494,C,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,C/G,G/G
27,NaN,7242.0,rs6420495,G,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,G/T,T/T
28,chr17,7914.0,rs2894723,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,C/T,T/T
29,NaN,8547.0,rs2396789;rs386566426,T,C/C,C/C,C/C,C/C,C/C,C/C,C/C,C/C,T/C,C/C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4738628,chr1,249174682.0,rs4359061,G,G/A,G/A,NaN,G/A,NaN,NaN,G/A,NaN,NaN,A/A
4738629,chr1,249181149.0,rs4489602,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4738630,chr1,249182887.0,rs6697193;rs78930746,T,C/C,C/C,C/C,C/C,T/C,C/C,C/C,T/C,C/C,C/C
4738631,chr1,249186442.0,.,T,T/TTCCC,T/TTCCC,T/TTCCC,T/TTCCC,NaN,NaN,NaN,T/TTCCC,T/TTCCC,NaN
4738632,chr1,249190445.0,rs74352195,C,NaN,C/G,NaN,C/G,NaN,NaN,C/G,NaN,NaN,C/G
4738633,chr1,249191706.0,rs4335411,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,G/A,A/A,A/A
4738634,chr1,249200094.0,rs75151640,C,NaN,C/T,NaN,C/T,NaN,NaN,C/T,NaN,NaN,C/T
4738635,chr1,249200876.0,.,G,NaN,NaN,G/GCCCA,NaN,G/GGGGCGCA,NaN,G/GCC,G/GCC,G/GGGCCA,"GCC,GCCC/GCC,GCCC"
4738636,chr1,249201268.0,rs7544246,G,G/A,NaN,NaN,G/A,G/A,NaN,G/A,NaN,NaN,A/A
4738637,chr1,249202883.0,rs35383461;rs397747868,A,A/AT,A/AT,AT/AT,NaN,A/AT,NaN,A/AT,A/AT,NaN,NaN
4738638,chr1,249205895.0,rs6691273,T,T/C,T/C,NaN,T/C,T/C,T/C,T/C,T/C,T/C,T/C
4738639,chr1,249205928.0,rs6668044,C,NaN,C/T,NaN,C/T,C/T,C/T,C/T,NaN,C/T,C/T
4738640,chr1,249205937.0,rs6689768,G,NaN,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T
4738641,chr1,249207765.0,rs117782572,G,G/T,NaN,NaN,G/T,NaN,G/T,NaN,NaN,G/T,NaN
4738642,chr1,249208772.0,rs12025972,C,C/T,C/T,NaN,C/T,NaN,NaN,C/T,NaN,NaN,C/T
4738643,chr1,249209140.0,rs386471741;rs4926502,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4738644,chr1,249228843.0,.,AACACAC,NaN,NaN,NaN,NaN,"AACACACAC,A/AACACACAC,A",AACACAC/A,NaN,"AACACACAC,A/AACACACAC,A","AAC,A/AAC,A",NaN
4738645,chr1,249229799.0,rs61838549,A,G/G,G/G,NaN,G/G,NaN,G/G,NaN,G/G,NaN,NaN
4738646,chr1,249231035.0,.,GC,GC/G,NaN,NaN,GC/G,GC/G,NaN,NaN,GC/G,GC/G,NaN
4738647,chr1,249231599.0,rs201045604,A,A/AT,A/AT,NaN,NaN,NaN,NaN,A/AT,A/AT,A/AT,A/AT
4738648,chr1,249232478.0,rs61838555,T,NaN,NaN,T/C,T/C,NaN,NaN,T/C,NaN,T/C,T/C
4738649,chr1,249232633.0,rs28783738,T,NaN,T/G,T/G,T/G,NaN,T/G,NaN,T/G,NaN,T/G
4738650,chr1,249233056.0,rs200268662,C,C/T,NaN,NaN,C/T,C/T,C/T,NaN,C/T,NaN,NaN
4738651,chr1,249238254.0,rs371545306,C,NaN,C/T,NaN,C/T,C/T,NaN,NaN,C/T,C/T,NaN
4738652,chr1,249238488.0,rs369696131,G,NaN,NaN,NaN,G/T,G/T,NaN,NaN,G/T,G/T,G/T
4738653,chr1,249238520.0,rs372858948,G,NaN,NaN,NaN,G/T,G/T,NaN,NaN,G/T,G/T,G/T
4738654,chr1,249238875.0,.,C,NaN,NaN,NaN,C/G,C/G,NaN,NaN,C/G,C/G,C/G
4738655,chr1,249239305.0,rs187125963,C,C/T,C/T,C/T,C/T,C/T,C/T,C/T,C/T,NaN,C/T
4738656,chr1,249239465.0,rs183566754,T,T/G,T/G,NaN,T/G,NaN,T/G,NaN,T/G,T/G,T/G
4738657,chr1,249239796.0,.,CGGGTTCGGGTTCGGGGTTA,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,CGGGTTCGGGTTCGGGGTTA/C,NaN,NaN

In [42]:
case_in_control

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C/C,C/C,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T/T,NaN,NaN,NaN,T/T,NaN,NaN
2,chr17,NaN,rs35998167,T,TA/TA,TA/TA,TA/TA,TA/TA,T/TA,TA/TA,TA/TA,TA/TA,TA/TA,TA/TA
3,NaN,NaN,NaN,AC,NaN,AC/A,AC/A,NaN,AC/A,AC/A,AC/A,NaN,NaN,NaN
4,chrM,410.0,.,A,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
5,chr17,828.0,rs62053745,T,C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C
6,chr17,834.0,rs9747082,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
7,NaN,1869.0,rs62053748,A,T/T,T/T,T/T,T/T,A/T,T/T,T/T,T/T,T/T,T/T
8,NaN,2041.0,rs35054424,NaN,NaN,NaN,NaN,NaN,G/A,NaN,NaN,NaN,NaN,NaN
9,NaN,2220.0,rs17055023,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
10,chrM,2354.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
11,chrM,2485.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
12,chr17,2564.0,rs34245596,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
13,chr17,3587.0,rs8069278,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
14,NaN,3936.0,rs7213004,NaN,NaN,NaN,NaN,NaN,A/G,NaN,A/G,NaN,NaN,NaN
15,NaN,4966.0,rs2223138,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
16,NaN,5522.0,rs142302211;rs71143471,NaN,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT,AGT/AGT
17,chrM,5581.0,.,C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T
18,NaN,5687.0,rs4890175,C,T/T,T/T,T/T,T/T,C/T,T/T,T/T,T/T,T/T,T/T
19,NaN,6115.0,rs61739713,G,C/C,C/C,C/C,C/C,G/C,C/C,C/C,C/C,C/C,C/C
20,chr17,6157.0,rs2294076,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
21,NaN,6689.0,rs6565733,G,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
22,NaN,6888.0,rs1106175,NaN,A/A,A/A,A/A,A/A,G/A,A/A,A/A,A/A,A/A,A/A
23,NaN,7214.0,rs386442353;rs6420494,C,NaN,NaN,NaN,NaN,C/G,NaN,NaN,NaN,G/G,NaN
24,NaN,7242.0,rs6420495,NaN,T/T,T/T,T/T,T/T,G/T,T/T,T/T,T/T,T/T,T/T
25,NaN,7914.0,rs2894723,C,T/T,T/T,T/T,T/T,C/T,T/T,T/T,T/T,T/T,T/T
26,NaN,8547.0,rs2396789;rs386566426,T,C/C,C/C,C/C,C/C,T/C,C/C,C/C,C/C,C/C,C/C
27,NaN,8568.0,rs2894722,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
28,chrM,8702.0,.,G,A/A,A/A,NaN,A/A,NaN,NaN,NaN,A/A,NaN,A/A
29,NaN,9361.0,rs8081895,A,G/G,G/G,G/G,G/G,A/G,G/G,G/G,G/G,G/G,G/G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731586,NaN,249198273.0,rs11389084;rs397972360,G,G/GT,G/GT,G/GT,NaN,G/GT,G/GT,G/GT,NaN,NaN,NaN
4731587,NaN,249200876.0,.,G,NaN,NaN,NaN,NaN,NaN,G/GCGCCA,G/GCGCA,G/GGCCC,NaN,G/GGGGCCC
4731588,NaN,249200985.0,rs7536216,NaN,A/G,A/G,A/G,A/G,A/G,NaN,G/G,NaN,A/G,NaN
4731589,NaN,249201268.0,rs7544246,G,A/A,A/A,G/A,NaN,G/A,G/A,G/A,G/A,G/A,NaN
4731590,NaN,249202883.0,rs35383461;rs397747868,NaN,NaN,A/AT,A/AT,A/AT,A/AT,NaN,NaN,NaN,NaN,NaN
4731591,NaN,249203006.0,rs35926181,G,G/A,G/A,G/A,NaN,G/A,G/A,G/A,NaN,NaN,NaN
4731592,NaN,249205422.0,rs112766654,T,T/C,T/C,T/C,NaN,T/C,T/C,T/C,NaN,NaN,NaN
4731593,NaN,249205772.0,rs7537280,C,C/A,C/A,C/A,NaN,NaN,C/A,C/A,NaN,NaN,NaN
4731594,NaN,249205774.0,.,T,T/C,T/C,T/C,NaN,T/C,NaN,T/C,NaN,NaN,NaN
4731595,NaN,249205823.0,rs377081690,G,G/A,G/A,G/A,NaN,NaN,G/A,G/A,NaN,NaN,NaN
4731596,NaN,249205895.0,rs6691273,NaN,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C,T/C
4731597,NaN,249205928.0,rs6668044,C,C/T,C/T,C/T,C/T,C/T,C/T,NaN,C/T,NaN,C/T
4731598,NaN,249205937.0,rs6689768,NaN,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T,G/T
4731599,NaN,249205977.0,rs35693600,NaN,T/C,T/C,T/C,NaN,NaN,T/C,T/C,NaN,NaN,NaN
4731600,NaN,249208153.0,rs12025760,C,C/A,C/A,C/A,NaN,C/A,C/A,C/A,NaN,NaN,NaN
4731601,NaN,249208615.0,rs12023135,NaN,G/C,G/C,G/C,NaN,G/C,G/C,G/C,NaN,NaN,NaN
4731602,NaN,249208772.0,rs12025972,C,T/T,C/T,C/T,NaN,C/T,C/T,C/T,NaN,NaN,NaN
4731603,NaN,249209084.0,rs60844222,G,G/A,G/A,G/A,NaN,G/A,G/A,G/A,NaN,NaN,NaN
4731604,NaN,249209140.0,rs386471741;rs4926502,A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
4731605,NaN,249210707.0,rs6704311,G,G/A,G/A,G/A,NaN,G/A,G/A,G/A,NaN,NaN,NaN
4731606,NaN,249211096.0,rs74157349,G,G/A,G/A,G/A,NaN,G/A,G/A,G/A,NaN,NaN,NaN
4731607,NaN,249211619.0,rs77124333,G,G/A,G/A,G/A,NaN,G/A,G/A,G/A,NaN,NaN,NaN
4731608,NaN,249214223.0,rs6695752,NaN,C/G,C/G,C/G,NaN,C/G,C/G,C/G,NaN,NaN,NaN
4731609,NaN,249228843.0,.,AACACAC,AACACAC/A,NaN,NaN,NaN,AACACAC/A,NaN,NaN,NaN,"AACACACAC,A/AACACACAC,A",AACACAC/A
4731610,NaN,249229799.0,rs61838549,NaN,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,NaN,NaN
4731611,NaN,249232478.0,rs61838555,T,T/C,NaN,NaN,T/C,NaN,T/C,NaN,T/C,NaN,NaN
4731612,NaN,249232633.0,rs28783738,T,NaN,T/G,NaN,NaN,NaN,T/G,T/G,T/G,NaN,T/G
4731613,NaN,249239305.0,rs187125963,C,C/T,C/T,C/T,NaN,NaN,C/T,C/T,C/T,NaN,NaN
4731614,NaN,249239465.0,rs183566754,T,T/G,T/G,T/G,NaN,T/G,T/G,T/G,NaN,T/G,T/G
4731615,NaN,249240217.0,.,G,G/GT,G/GT,G/GT,NaN,NaN,G/GGTT,NaN,NaN,NaN,NaN