In [1]:
# here I did prediction with combined data sets of 
# Read Length and Read Count

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_gc = pd.read_csv("../../datas_not_to_upload/trgc10000.csv")
y = pd.read_csv("../../datas_not_to_upload/gcbininfo_10000.csv")
df_rl = pd.read_csv("../../datas_not_to_upload/tsrl10000.csv")

In [4]:
df_gc.head(3)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0
2,0.794579,0.624215,1.162626,1.002403,0.870992,0.831627,1.042087,1.107656,1.714645,1.207776,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_rl.head(2)

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,...,0,0,0,0,0,0,0,0,0,0
1,2,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Drop RL First Column
df_rl = df_rl.iloc[:,1:]
df_rl.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,1.145272,...,0,0,0,0,0,0,0,0,0,0
1,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,1.140321,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y.head()

          GC
0  19.052706
1  17.772070
2  16.200000
3  14.987733
4  17.656184

In [11]:
## Concat GC Read length as a Single Table
df = pd.concat([y,df_gc,df_rl],axis=1)

In [ ]:
# Remove Columns
# Where sum of all elements is epual 0